html {
    font-size: 10px;
    height: 100%;
    overflow: hidden;
    font-family: $figtree;
}

html.has-scroll-smooth {
    overflow: hidden;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}


*, :after, :before {
    box-sizing: border-box;
    //-webkit-backface-visibility: hidden;
    //-webkit-perspective: 1000;
    //-webkit-transform: translate3d(0, 0, 0);
    will-change: transform;
}

* {
    -webkit-tap-highlight-color: transparent;
}


body {
    margin: 0;
    height: 100%;
    background: #2a5650;
}

section {
    border-radius: 0px 0px 40px 40px;

    @media (max-width: 1024px) {
        padding: var(--padding-mob) !important;
        margin: var(--margin-mob) !important;
    }
    @media (max-width: 768px) {
        border-radius: 0px 0px 32px 32px;
    }
}

img {
    max-width: 100%;
    height: auto;
    display: block;

    &.alignright {
        margin-left: auto;
    }

    &.alignleft {
        margin-right: auto;
    }

    &.aligncenter {
        margin: 0 auto;
    }
}

picture {
    line-height: 0;
    display: block;
}

h1, h2, h3, h4, h5, h6, p, a {
    margin: 0;
    color: #1A1A1A;
}

p, div, span, li {
    font-size: 18px;
    @media (max-width: 1024px) {
        font-size: 16px;
    }
    @media (max-width: 768px) {
        font-size: 14px;
    }
}

h1 {
    font-weight: 500;
    font-size: 123px;
    line-height: 120%;
    color: #1A1A1A;
    @media (max-width: 1024px) {
        font-size: 109px;
    }
    @media (max-width: 768px) {
        font-size: 59px;
    }
}

h2 {
    font-weight: 500;
    font-size: 76px;
    line-height: 120%;
    color: #1A1A1A;
    @media (max-width: 1024px) {
        font-size: 67px;
    }
    @media (max-width: 768px) {
        font-size: 37px;
    }
}

h3 {
    font-weight: 500;
    font-size: 47px;
    line-height: 120%;
    color: #1A1A1A;
    @media (max-width: 1024px) {
        font-size: 41.8px;
    }
    @media (max-width: 768px) {
        font-size: 37px;
    }
}

h4 {
    font-weight: 500;
    font-size: 29px;
    line-height: 130%;
    color: #1A1A1A;
    @media (max-width: 1024px) {
        font-size: 25.8px;
    }
    @media (max-width: 768px) {
        font-size: 23px;
    }
}

h5 {
    font-weight: 500;
    font-size: 22px;
    line-height: 130%;
    color: #1A1A1A;
    @media (max-width: 1024px) {
        font-size: 20px;
    }
    @media (max-width: 768px) {
        font-size: 18px;
    }
}

h6 {
    font-weight: 500;
    font-size: 20px;
    line-height: 130%;
    color: #1A1A1A;
    @media (max-width: 1024px) {
        font-size: 19px;
    }
    @media (max-width: 768px) {
        font-size: 17px;
    }
}

a {
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

button,
a {
    cursor: pointer;

}

input {
    outline: none;
}

.max-width-full {
    max-width: 100%;
}

.max-width-single {
    max-width: 1202px;
    margin: 0 auto;
}

.max-width-min {
    max-width: 988px;
    margin: 0 auto;
}

.max-width-slide {
    max-width: 1514px;
    margin: 0 auto;
}

.max-width-news {
    max-width: 934px;
    margin: 0 auto;
}

.container-fluid-full {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.container-fluid {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding: 0 24px;
    @media (max-width: 768px) {
        padding: 0 16px;
    }
}

.container-fluid-min {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding: 0 48px;
    @media (max-width: 1024px) {
        padding: 0 24px;
    }
    @media (max-width: 768px) {
        padding: 0 16px;
    }
}

.container-fluid-content {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding: 0 48px;
}

.d-none {
    display: none;
}

.c-scrollbar {
    position: absolute;
    right: 0;
    top: 0;
    width: 11px;
    height: 100vh;
    transform-origin: center right;
    transition: transform 0.3s, opacity 0.3s;
    opacity: 0;
    z-index: 105;
}

.c-scrollbar_thumb {
    position: absolute;
    top: 0;
    right: 0;
    background-color: black;
    opacity: 0.5;
    width: 7px;
    border-radius: 10px;
    margin: 2px;
    cursor: -webkit-grab;
    cursor: grab;
}

.c-scrollbar:hover, .has-scroll-scrolling .c-scrollbar, .has-scroll-dragging .c-scrollbar {
    opacity: 1;
}

.scroller {
    z-index: 1;
    position: relative;
    background: #F1F0EB;
    overflow: hidden !important;
}

main {
    background: #f1f0eb;
    border-radius: 0px 0px 40px 40px;
    @media (max-width: 768px) {
        border-radius: 0px 0px 32px 32px;
    }
}

.has-scroll-smooth [data-scroll-container] {
    transform: perspective(1px);
}
