/* Figtree - Light */
@font-face {
    font-family: 'Figtree';
    font-style: normal;
    font-weight: 300;
    src: local(''),
    url('../fonts/Figtree-Light.ttf') format('truetype');
}

/* Figtree - Regular */
@font-face {
    font-family: 'Figtree';
    font-style: normal;
    font-weight: 400;
    src: local(''),
    url('../fonts/Figtree-Regular.ttf') format('truetype');
}

/* Figtree - Medium */
@font-face {
    font-family: 'Figtree';
    font-style: normal;
    font-weight: 500;
    src: local(''),
    url('../fonts/Figtree-Medium.ttf') format('truetype');
}

/* Figtree - SemiBold */
@font-face {
    font-family: 'Figtree';
    font-style: normal;
    font-weight: 600;
    src: local(''),
    url('../fonts/Figtree-SemiBold.ttf') format('truetype');
}

/* Figtree - Bold */
@font-face {
    font-family: 'Figtree';
    font-style: normal;
    font-weight: 700;
    src: local(''),
    url('../fonts/Figtree-Bold.ttf') format('truetype');
}


/* Figtree - Extra Bold */
@font-face {
    font-family: 'Figtree';
    font-style: normal;
    font-weight: 800;
    src: local(''),
    url('../fonts/Figtree-ExtraBold.ttf') format('truetype');
}

/* Figtree - Black */
@font-face {
    font-family: 'Figtree';
    font-style: normal;
    font-weight: 900;
    src: local(''),
    url('../fonts/Figtree-Black.ttf') format('truetype');
}