@mixin btn() {
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0.08em;
    color: #1A1A1A;
    display: block;
    padding: 14px 30px;
    border: 2px solid #1A1A1A;
    border-radius: 50px;
    position: relative;
    overflow: hidden;
    width: fit-content;
    @media (max-width: 768px) {
        padding: 14px 38px;
    }

    &:after {
        content: "";
        position: absolute;
        background: #1A1A1A;
        height: 0%;
        left: 50%;
        top: 50%;
        width: 100%;
        transition: all .5s ease-out;
        width: 0%;
        border-radius: 50%;
        opacity: .2;
        transform: translateX(-50%) translateY(-50%);
    }

    &:hover {
        &:after {
            height: 400px;
            width: 400px;
        }
    }
}