section.about {
    padding: 120px 24px;
    background: #2A5650;
    border-radius: 40px;
    overflow: hidden;
    margin-right: 24px;
    margin-left: 24px;
    @media (max-width: 1024px) {
        margin-right: 0;
        margin-left: 0;
        border-radius: 0px 0px 32px 32px;
    }

    & > div.container-fluid {
        @media (max-width: 1024px) {
            padding-left: 32px;
            padding-right: 32px;
        }
    }

}

.about__wrapper__inner {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    @media (max-width: 1024px) {
        grid-template-columns: initial;
    }

    h2 {
        color: #FFFFFF;
        padding-right: 40px;
        @media (max-width: 1024px) {
            padding-right: 0;
        }
    }
}

.about__wrapper__inner__descr {
    color: #FFFFFF;
    padding-top: 40px;
    border-top: 2px solid #F1F0EB;
    margin-top: 70px;
    font-weight: 400;
    font-size: 29px;
    line-height: 150%;
    @media (max-width: 1024px) {
        margin-top: 24px;
        padding-top: 24px;
    }

    p {
        color: #FFFFFF;
        font-weight: 400;
        font-size: 29px;
        line-height: 150%;
        color: #FFFFFF;
        margin: 0;
        @media (max-width: 1024px) {
            font-size: 24px;
            line-height: 40px;
        }
    }

    a.changable {
        @include btn();
        margin-top: 80px;
        color: #fff;
        border: 2px solid #fff;
        @media (max-width: 1024px) {
            margin-top: 64px;
        }

        &:after {
            background: #fff;
        }
    }
}