section.animation {
    position: relative;
    border-radius: 40px;

    &.bg_color_radio {
        background: 0 0;
        @media (max-width: 1024px) {
            background: var(--bg-color-radio);
        }

        &:before {
            display: none;
        }

        .animation__bg {
            background: var(--bg-color-radio);
        }
    }

    .pin-spacer {
        pointer-events: none;
    }
}

.animation__wrapper {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-column-gap: 40px;
    position: relative;
    height: 100%;

    &.desktop {
        @media (max-width: 1024px) {
            display: none;
        }
    }

    &.mobile {
        @media (min-width: 1025px) {
            display: none;
        }
    }
}

.animation__wrapper__lottie {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    @media (max-width: 1600px) {
        padding-left: 60px;
    }

    svg {
        width: 565px !important;
        height: 565px !important;
        @media (max-width: 1200px) {
            width: 400px !important;
            height: 400px !important;
        }
    }
}

.animation__labels {
    height: 100vh;
    position: absolute;
    top: 0;
    //transform: translateY(-50%);
    left: 24px;
    display: flex;
    align-items: center;
}

.animation__labels__inner {
    display: flex;
    gap: 40px;
    position: relative;
    transform: translate(-50%, 0) rotate(-90deg);
    top: 0;
    left: 0;
    transform-origin: 50% 0;
    flex-direction: row-reverse;

    span {
        opacity: 0.4;
        font-weight: 400;
        font-size: 18px;
        line-height: 150%;
        color: #EA5600;
        transition: .3s linear;

        &.active {
            opacity: 1;
        }
    }
}

.animate-loop__inner {
    max-width: 566px;
    margin: 0 auto;
    padding-top: 344px;
}

.animation__bg {
    position: absolute;
    left: 0;
    top: 24px;
    width: 100%;
    height: calc(100vh - 48px);
    border-radius: 40px;
    background: #fff;
    overflow: hidden;
    pointer-events: none;
}

.animation__transparent {
    position: absolute;
    left: -24px;
    top: 0;
    width: calc(100vw + 48px);
    height: 100vh;
    background: transparent;
    border-top: 24px solid #f1f0eb;
    border-bottom: 24px solid #f1f0eb;
    overflow: hidden;
    pointer-events: none;
}

.animate-loop {
    height: 100%;
    display: flex;
    max-width: 868px;
    margin-right: 48px;
    align-items: flex-start;
}

.animate-loop__inner__wrapper {
    height: 100%;
    display: flex;
    align-items: center;
    padding-bottom: 160px;

    &:last-of-type {
        padding-bottom: 344px;
    }
}

.animate-loop__inner__single {
    opacity: 0.4;
    transition: .3s linear;

    ul, ol {
        padding: 20px 0 20px 20px;
        margin: 0;
    }

    ol {

        & ~ ul {
            padding: 0 0 20px 20px;
        }
    }

    ul {
        list-style-type: circle;

        & ~ ol {
            padding: 0 0 20px 20px;
        }
    }

    a {
        text-decoration: underline;
    }

    &.active {
        opacity: 1;
    }

    h3, h1, h2, h4, h5, h6 {
        color: #EA5600;
        margin: 0 0 8px;
    }

    p {
        font-weight: 400;
        font-size: 18px;
        line-height: 150%;
        color: #1A1A1A;
        margin: 0;
    }
}

.animation__mobile {
    @media (min-width: 1025px) {
        display: none;
    }
}

.animation__mobile__loop {
    display: flex;
    flex-direction: column;
    gap: 56px;
}

.animation__mobile__loop__single {
    ul, ol {
        padding: 20px 0 20px 20px;
        margin: 0;
    }

    ol {

        & ~ ul {
            padding: 0 0 20px 20px;
        }
    }

    ul {
        list-style-type: circle;

        & ~ ol {
            padding: 0 0 20px 20px;
        }
    }


    a {
        text-decoration: underline;
    }

    h3 {
        font-weight: 500;
        font-size: 37px;
        line-height: 120%;
        color: #EA5600;
        margin: 0 0 8px;
    }

    p {
        line-height: 150%;
        color: #1A1A1A;
        margin: 0;
    }

    img {
        display: block;
        width: auto;
        height: auto;
        display: block;
        object-fit: cover;
        max-width: 100%;
        margin-top: 40px;
        @media (max-width: 500px) {
            width: 257px;
            height: 257px;
        }
    }
}