.concept {
    background: #fff;
}

.concept__wrapper {
    overflow: hidden;
}

.concept__wrapper__slider {
    position: relative;
    padding-top: 40px;
    @media (max-width: 768px) {
        padding-top: 0;
    }

    .swiper_nav {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        z-index: 3;
        padding: 0 99px;
        display: flex;
        justify-content: space-between;
        width: 100%;
        @media (max-width: 1024px) {
            top: calc(50% - 34px);
        }

        button {
            background: transparent;
            border: 0;
            outline: none;
            background: #EA5600;
            width: 80px;
            height: 80px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: .3s linear;
            @media (max-width: 1024px) {
                width: 60px;
                height: 60px;
            }
            @media (max-width: 768px) {
                display: none;
            }

            &:hover {
                transform: scale(1.2);
            }
        }

        .concept-slider__next {
            svg {
                transform: rotate(180deg);
            }
        }
    }

    .concept-slider {
        position: relative;
    }

    .concept-slider > .swiper-slide__content {
        position: absolute;
        top: 0;
    }

    .swiper-slide {
        width: auto;

        .concept-slider__single {
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                transition: transform .3s linear;
                transform: scale(0.72);
                height: 852px;
                width: 1514px;
                border-radius: 0px 0px 40px 40px;
                display: block;
                object-fit: cover;
                @media (max-width: 1700px) {
                    height: 600px;
                    width: 1200px;
                }
                @media (max-width: 1400px) {
                    height: 400px;
                    width: 800px;
                }
                @media (max-width: 1200px) {
                    height: 350px;
                    width: 700px;
                }
                @media (max-width: 800px) {
                    height: 300px;
                    width: 600px;
                }
                @media (max-width: 768px) {
                    height: 185px;
                    width: 329px;
                    border-radius: 0px 0px 40px 40px;
                }
            }
        }

        &.swiper-slide-active, &.swiper-slide-duplicate-active {

            .concept-slider__single {

                img {
                    transform: scale(1);
                    @media (max-width: 768px) {
                        border-radius: 0px 0px 24px 24px;
                    }
                }
            }
        }
    }

    .swiper-slide__content {
        height: 300px;
    }
}

.concept__wrapper__head {
    width: 100%;
    border-bottom: 1px solid #000000;
    margin-bottom: 80px;
    @media (max-width: 1024px) {
        margin-bottom: 24px;
    }

    span {
        font-weight: 500;
        font-size: 14px;
        line-height: 150%;
        letter-spacing: 0.08em;
        color: #1A1A1A;
        display: block;
        @media (max-width: 768px) {
            font-size: 12px;
            letter-spacing: 0.1em;
        }
    }

    h2 {
        font-weight: 500;
        font-size: 76px;
        line-height: 120%;
        color: #1A1A1A;
        margin: 0;
        @media (max-width: 1024px) {
            font-size: 67px;
        }
        @media (max-width: 768px) {
            font-size: 37px;
        }
    }
}

.concept__wrapper__tabs {

    &.desktop {
        @media (max-width: 768px) {
            display: none;
        }
    }

    &.mobile {
        padding-top: 25px;
        padding-bottom: 30px;
        @media (min-width: 769px) {
            display: none;
        }
    }

}

.concept__wrapper__hidden {
    display: none;

    a {
        padding: 0;
        margin: 0;
        text-decoration: underline;
    }

    p, a, li {
        font-weight: 400;
        font-size: 18px;
        line-height: 150%;
        color: #1A1A1A;
        margin: 0;
    }


    ul, ol {
        padding: 20px 0 20px 20px;
        margin: 0;
    }

    ol {

        & ~ ul {
            padding: 0 0 20px 20px;
        }
    }

    ul {
        list-style-type: circle;

        & ~ ol {
            padding: 0 0 20px 20px;
        }
    }
}

.concept__wrapper__tabs__head {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-column-gap: 40px;
    @media (max-width: 1200px) {
        grid-column-gap: 20px;
    }
    @media (max-width: 768px) {
        display: initial;
        grid-template-columns: initial;
    }

    a.concept__wrapper__tab {
        font-weight: 600;
        font-size: 29px;
        line-height: 150%;
        color: #1A1A1A;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 24px 0 16px 0;
        position: relative;
        overflow: hidden;
        gap: 10px;
        @media (max-width: 1200px) {
            font-size: 26px;
            line-height: 130%;
        }
        @media (max-width: 768px) {
            font-size: 23px;
            padding: 24px 0 34px 0;
        }

        &:after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 1px;
            background: #1A1A1A;
            @media (max-width: 1200px) {
                bottom: 10px;
            }
            @media (max-width: 768px) {
                bottom: 18px;
            }
        }

        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            background: #EA5600;
            border-radius: 0px 0px 8px 8px;
            height: 8px;
            width: 100%;
            transform: translateY(-102%);
            transition: .5s cubic-bezier(.19, 1, .22, 1);
            @media (max-width: 768px) {
                display: none;
            }
        }

        svg {
            transform: rotate(0);
            transition: .25s linear;
            flex: 0 0 auto;
        }

        &.active {

            svg {
                transform: rotate(180deg);
            }

            &:before {
                transform: translateY(0);
            }

        }

        &.open {
            svg {
                transform: rotate(180deg);
            }
        }

        &:hover {
            &:before {
                transform: translateY(0);
            }
        }
    }
}

.concept__wrapper__tabs__body {
    padding-top: 80px;
    margin-bottom: 40px;
    padding-bottom: 40px;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-column-gap: 40px;
}

.concept__wrapper__tabs__body__inner {
    grid-column: 1 / span 2;
    transition: .25s linear;
    position: relative;
    min-height: 40px;

    &:after {
        position: absolute;
        content: '';
        bottom: -40px;
        left: 0;
        width: 100%;
        height: 1px;
        background: #1A1A1A;
        opacity: 1;
    }

    & > div {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }

    &.move {
        transform: translateX(calc(50% + 20px));

        &:after {
            opacity: 0;
        }
    }
}

.concept__wrapper__tabs__facts {
    &.hidden {
        opacity: 0;
        pointer-events: none;
    }
}

.concept__wrapper__tabs__descr {
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #1A1A1A;

    &.hidden {
        opacity: 0;
        pointer-events: none;
    }

    p {
        font-weight: 400;
        font-size: 18px;
        line-height: 150%;
        color: #1A1A1A;
        margin: 0;
    }

    a {
        text-decoration: underline;
        padding: 0;
        margin: 0;
    }

    ul, ol {
        padding: 20px 0 20px 20px;
        margin: 0;
    }

    ol {

        & ~ ul {
            padding: 0 0 20px 20px;
        }
    }

    ul {
        list-style-type: circle;

        & ~ ol {
            padding: 0 0 20px 20px;
        }
    }

}

.concept__wrapper__tabs__facts {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-column-gap: 40px;
    grid-row-gap: 12px;
}

.concept__wrapper__tabs__facts__single {
    display: flex;
    padding: 8px 0;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #1A1A1A;

    h5 {
        font-weight: 600;
        font-size: 18px;
        line-height: 150%;
        color: #1A1A1A;
        margin: 0;
    }

    p {
        font-weight: 400;
        font-size: 18px;
        line-height: 150%;
        text-align: right;
        color: #1A1A1A;
        margin: 0;
    }
}

.concept-slider__pagination {
    display: flex !important;
    width: 100% !important;
    justify-content: center !important;
    align-items: center !important;
    padding-top: 16px !important;
    padding-bottom: 40px !important;
    transform: none !important;
    position: relative !important;
    gap: 12px !important;
    left: initial !important;
    top: initial !important;
    bottom: initial !important;
    @media (min-width: 1025px) {
        display: none !important;
    }

    span {
        width: 12px !important;
        height: 12px !important;
        background: rgba(26, 26, 26, 0.25) !important;
        border-radius: 50% !important;
        display: block !important;
        position: relative !important;
        left: initial !important;
        top: initial !important;
        margin: 0 !important;
        padding: 0 !important;
        opacity: 1 !important;
        transform: none !important;

        @media (max-width: 768px) {
            width: 8px !important;
            height: 8px !important;
        }

        &.swiper-pagination-bullet-active {
            background: #EA5600 !important;
        }
    }
}