.contact-map__wrapper {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-column-gap: 40px;
    @media (max-width: 768px) {
        grid-template-columns: initial;
        grid-row-gap: 40px;
    }
}

.contact-map__head {
    h2 {
        font-weight: 500;
        font-size: 76px;
        line-height: 120%;
        color: #1A1A1A;
        margin: 0;
        @media (max-width: 1024px) {
            font-size: 67px;
        }
        @media (max-width: 768px) {
            font-size: 37px;
        }
    }
}

.contact-map__head__descr {
    font-weight: 400;
    font-size: 29px;
    line-height: 150%;
    color: #1A1A1A;

    p {
        font-weight: 400;
        font-size: 29px;
        line-height: 150%;
        color: #1A1A1A;
        margin: 0;
        padding: 0;
        @media (max-width: 1024px) {
            font-size: 26px;
        }
        @media (max-width: 768px) {
            font-size: 23px;
            line-height: 130%;
        }
    }
}

.contact-map__wrapper__map {
    width: 100%;
    border-radius: 0px 0px 40px 40px;
    overflow: hidden;
    @media (max-width: 768px) {
        border-radius: 0px 0px 17.8475px 17.8475px;
    }
}

.map__wrapper {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.contact-map__wrapper__map__inner {
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    object-fit: cover;
}

.contact-map__popup {
    display: none;
    width: 218px;
    background: #FFFFFF;
    box-shadow: 0px 16px 40px rgba(0, 0, 0, 0.16);
    border-radius: 8px;
    flex-direction: column;
    padding: 24px;
    border-radius: 8px;
    position: relative;
    transition: .8s;
    position: relative;
    transform: translateX(0);

    &.closed {
        transform: translateX(400%);
    }

    &.active {
        display: flex;
    }
}

.contact-map__popup__inner__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #000000;
    font-family: $figtree;
}

.contact-map__popup__inner {

    h4 {
        font-weight: 600;
        font-size: 18px;
        line-height: 150%;
        color: #000000;
        margin: 0;
        font-family: $figtree;
    }

    a {
        font-weight: 500;
        font-size: 14px;
        line-height: 150%;
        color: #000000;
        display: block;
        padding-top: 20px;
        text-decoration: underline;
        font-family: $figtree;
    }
}

.contact-map__popup__inner__close {
    position: absolute;
    top: 6.6px;
    right: 6.6px;
    cursor: pointer;
}

.gm-fullscreen-control {
    display: none !important;
}

.gmnoprint {
    display: none !important;
}

.gm-style-iw-d {
    overflow: unset !important;
    position: absolute !important;
    top: 0 !important;
    left: 50% !important;
    transition: .5s;
    transform: translate(-50%, 0);
}

.gm-style .gm-style-iw-c {
    padding-left: 0;
    padding-top: 0;
    overflow: unset !important;
    background: 0 0 !important;
    box-shadow: none;

    button {
        display: none !important;
    }
}

.gm-style .gm-style-iw-tc::after {
    display: none;
}

.contact-map__wrapper__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 40px;
}

.contact-map__main {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-column-gap: 40px;

    @media (max-width: 1350px) {
        grid-template-columns: initial;
    }
    @media (max-width: 768px) {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    @media (max-width: 550px) {
        grid-template-columns: initial;
    }
}

.contact-map__main__address {
    padding-bottom: 21px;
    @media (max-width: 768px) {
        padding-bottom: 13px;
    }

    h4 {
        font-weight: 600;
        font-size: 29px;
        line-height: 150%;
        color: #000000;
        margin: 0 0 46px;
        @media (max-width: 1024px) {
            font-size: 26px;
        }
        @media (max-width: 768px) {
            margin: 0;
            line-height: 120%;
            font-size: 23px;
        }
    }

    a {
        font-weight: 400;
        font-size: 18px;
        line-height: 150%;
        color: #000000;
        display: block;
        text-decoration: underline;
        margin-top: 44px;
        @media (max-width: 1024px) {
            font-size: 16px;
        }
        @media (max-width: 768px) {
            font-size: 14px;
            margin-top: 20px;
        }
    }
}

.contact-map__main__address__text {
    font-weight: 400;
    font-size: 29px;
    line-height: 150%;
    color: #000000;
    @media (max-width: 1024px) {
        font-size: 26px;
    }
    @media (max-width: 768px) {
        line-height: 120%;
        font-size: 24px;
    }
}

.contact-map__main__contacts {
    display: flex;
    flex-direction: column;
    gap: 42px;
    @media (max-width: 768px) {
        gap: 22px;
    }
}

.contact-map__main__contacts__single {
    h4 {
        font-weight: 600;
        font-size: 29px;
        line-height: 150%;
        color: #000000;
        margin: 0 0 3px;
        @media (max-width: 1024px) {
            font-size: 26px;
        }
        @media (max-width: 768px) {
            font-size: 23px;
            line-height: 120%;
        }
    }

    a {
        font-weight: 400;
        font-size: 29px;
        line-height: 150%;
        color: #000000;
        display: block;
        @media (max-width: 1024px) {
            font-size: 26px;
        }
        @media (max-width: 768px) {
            font-size: 23px;
            line-height: 120%;
        }

        &.contact_email {
            text-decoration: underline;
        }
    }
}