.press-contact__wrapper {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-column-gap: 40px;
    padding-bottom: 80px;
    @media (max-width: 1200px) {
        grid-template-columns: initial;
        grid-row-gap: 40px;
    }
    @media (max-width: 768px) {
        padding-bottom: 40px;
    }
}

.press-contact__wrapper__info {

    h2 {
        font-weight: 500;
        font-size: 76px;
        line-height: 120%;
        color: #1A1A1A;
        margin: 0;
        padding-bottom: 10px;
        @media (max-width: 1024px) {
            font-size: 67px;
        }

        @media (max-width: 768px) {
            font-size: 37px;
        }
    }
}

.press-contact__wrapper__info__descr {
    font-weight: 400;
    font-size: 29px;
    line-height: 150%;
    color: #1A1A1A;
    @media (max-width: 1024px) {
        font-size: 26px;
    }

    @media (max-width: 768px) {
        font-size: 23px;
        line-height: 130%;
    }

    p {
        font-weight: 400;
        font-size: 29px;
        line-height: 150%;
        color: #1A1A1A;
        margin: 0;
        @media (max-width: 1024px) {
            font-size: 26px;
        }

        @media (max-width: 768px) {
            font-size: 23px;
            line-height: 130%;
        }
    }
}

.press-contact__wrapper__contacts {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-column-gap: 40px;
    @media (max-width: 768px) {
        grid-column-gap: 24px;
        grid-template-columns: minmax(257px, 70%) minmax(117px, 30%);
    }
    @media (max-width: 429px) {
        grid-column-gap: 24px;
        grid-row-gap: 24px;
        grid-template-columns: initial;
    }

    img {
        width: 100%;
        height: auto;
        object-fit: cover;
        display: block;
        border-radius: 0px 0px 20px 20px;
        @media (max-width: 1200px) {
            grid-column: 2;
        }
        @media (max-width: 429px) {
            grid-column: initial;
        }
    }
}

.press-contact__group__contact-us {
    span {
        font-weight: 600;
        font-size: 14px;
        line-height: 150%;
        letter-spacing: 0.08em;
        color: #1A1A1A;
        display: block;
        padding-bottom: 8px;
        @media (max-width: 768px) {
            font-size: 12px;
            letter-spacing: 0.01em;
        }
    }

    a {
        font-weight: 400;
        font-size: 29px;
        line-height: 150%;
        color: #1A1A1A;
        display: block;
        @media (max-width: 1024px) {
            font-size: 26px;
        }

        @media (max-width: 768px) {
            font-size: 23px;
            line-height: 130%;
        }

        &.press-contact__group__contact-us__mail {
            text-decoration-line: underline;
        }
    }
}

.press-contact__group {
    @media (max-width: 1200px) {
        grid-column: 1;
        grid-row: 1;
    }

    h4 {
        font-weight: 600;
        font-size: 29px;
        line-height: 150%;
        color: #1A1A1A;
        margin: 0 0 24px;
        @media (max-width: 1024px) {
            font-size: 26px;
        }

        @media (max-width: 768px) {
            font-size: 23px;
            line-height: 130%;
            margin: 0;
        }
    }

    span {
        font-weight: 500;
        font-size: 14px;
        line-height: 150%;
        letter-spacing: 0.08em;
        color: #1A1A1A;
        display: block;
        padding-bottom: 10px;
        @media (max-width: 768px) {
            font-size: 12px;
            letter-spacing: 0.1em;
        }
    }
}

.press-contact__group__descr {
    font-weight: 400;
    font-size: 29px;
    line-height: 150%;
    color: #1A1A1A;
    margin-bottom: 24px;
    @media (max-width: 1024px) {
        font-size: 26px;
    }

    @media (max-width: 768px) {
        font-size: 23px;
        line-height: 130%;
    }
}

.press-contact__downloads__wrapper {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-column-gap: 40px;
    padding: 80px 0;
    border-bottom: 1px solid #1A1A1A;
    border-top: 1px solid #1A1A1A;
    width: 100%;
    @media (max-width: 1400px) {
        grid-row-gap: 40px;
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    @media (max-width: 1024px) {
        grid-template-columns: initial;
        padding: 80px 0 32px 0;
    }
}

.press-contact__downloads__wrapper__col {
    @media (max-width: 1024px) {
        display: none;
    }

    h3 {
        font-weight: 600;
        font-size: 29px;
        line-height: 130%;
        letter-spacing: 0.04em;
        color: #1A1A1A;
        margin: 0 0 40px;
    }
}

.press-contact__downloads__wrapper__row {
    display: flex;
    align-items: center;
    padding-bottom: 40px;

    &:last-of-type {
        padding-bottom: 0;
    }

    img {
        max-width: 40px;
        max-height: 40px;
        object-fit: cover;
        display: block;
        padding-left: 5px;
        padding-right: 5px;
        margin-right: 40px;
    }

    a {
        font-weight: 400;
        font-size: 29px;
        line-height: 150%;
        color: #1A1A1A;
        display: block;

        &:hover {
            text-decoration: underline;
        }
    }

    span {
        font-weight: 400;
        font-size: 29px;
        line-height: 150%;
        color: #1A1A1A;
        display: block;
        margin-right: 8px;
    }
}

.press-contact__downloads__mobile {
    @media (min-width: 1025px) {
        display: none;
    }

    img {
        max-width: 48px;
        width: auto;
        max-height: 48px;
        height: auto;
        object-fit: contain;
        display: block;
        margin-bottom: 32px;
        padding: 7px 5px;
    }
}

.press-contact__downloads__mobile__descr {
    font-weight: 700;
    font-size: 23px;
    line-height: 130%;
    color: #EA5600;
    margin: 0;

    p {
        font-weight: 700;
        font-size: 23px;
        line-height: 130%;
        color: #EA5600;
        margin: 0;
    }
}