.full-vertical__wrapper {
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
}

.full-vertical__contents {
    height: 100%;
    transition: .3s linear;
}

.full-vertical__wrapper {
    height: 100%;

    @media (max-width: 1024px) {
        display: none;
    }
}

.full-vertical__mobile {
    @media (min-width: 1025px) {
        display: none;
    }
}

.full-vertical__wrapper__label {
    position: absolute;
    top: 24px;
    left: 24px;
    z-index: 9;

    span {
        transform: translateX(-100%) rotate(-90deg);
        transform-origin: 100% 0;
        font-weight: 400;
        font-size: 18px;
        line-height: 150%;
        color: #1A1A1A;
        position: absolute;
    }
}

.full-vertical__contents__single {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s linear;
    overflow: hidden;
    padding: 50px;
    @media (max-width: 1400px) {
        padding: 20px;
    }

    &.bg_color_radio {
        //background: var(--bg-color-radio);
    }

    &.text_color_radio {
        span, p, a {
            color: var(--text-color-radio);
        }
    }

    &.title_color_radio {
        h1, h2, h3, h4, h5, h6 {
            color: var(--title-color-radio);
        }
    }

    &.btn_color_radio {
        a.changable {
            color: var(--btn-color-radio);
            border: 2px solid var(--btn-color-radio);

            &:after {
                background: var(--btn-color-radio);
            }
        }
    }
}

.full-vertical__contents__single__inner {
    max-width: 715px;
    margin-top: -52px;
    @media (max-width: 1620px) {
        padding: 0 50px;
    }

    a.changable {
        @include btn();
        margin: 64px auto 0 auto;
    }
}

.full-vertical__contents__single__text {
    h2 {
        margin: 0 0 24px;
        @media (max-width: 1400px) {
            font-size: 60px;
        }
        @media (max-width: 768px) {
            font-size: 37px;
        }
    }

    p {
        line-height: 150%;
        color: #1A1A1A;
    }
}

.full-vertical__images {
    position: relative;
    width: 100%;
}

.full-vertical__images__inner {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}

.full-vertical__images__single {
    position: absolute;
    height: 100vh;
    width: 100%;
    padding: 0 !important;
    margin: 0 !important;

    &:last-of-type {
        img {
            border-radius: 0;
        }
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
        border-radius: 0px 0px 40px 40px;
    }
}

.full-vertical__mobile__single {
    img {
        width: 100%;
        height: 100%;
        display: block;
        object-fit: cover;
        max-height: 600px;
        border-radius: 0px 0px 32px 32px;
        @media (max-width: 768px) {
            max-height: 430px;
        }
    }

    &.bg_color_radio {
        background: var(--bg-color-radio);
    }
}

.full-vertical__mobile__single__text {
    padding: 40px 24px 64px 24px;

    h2 {
        margin: 0 0 16px;
    }

    p {
        line-height: 150%;
    }

    a.changable {
        @include btn();
        margin: 56px auto 0 auto;
    }
}