.head {
    background: #E9DDCB;
    border-radius: 0px 0px 40px 40px;
    overflow: hidden;
    @media (max-width: 768px) {
        border-radius: 0px 0px 32px 32px;
    }
}

.head__wrapper {
    min-height: 400px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: end;
    padding-bottom: 51px;
    padding-top: 168px;
    @media (max-width: 768px) {
        min-height: 217px;
        padding-bottom: 40px;
        padding-top: 125px;
    }

    h1 {
        font-weight: 500;
        font-size: 123px;
        line-height: 120%;
        color: #1A1A1A;
        margin: 0;
        padding-bottom: 65px;
        @media (max-width: 1024px) {
            font-size: 109px;
            padding-bottom: 40px;
        }
        @media (max-width: 768px) {
            font-size: 37px;
            padding-bottom: 22px;
        }
    }
}

.head__wrapper__sub-pages {
    width: 100%;
    display: grid;
    grid-auto-columns: 1fr;
    grid-auto-flow: column;
    grid-column-gap: 40px;

    .swiper-slide {
        width: auto;
    }

    &.desktop {
        @media (max-width: 1400px) {
            display: none;
        }
    }

    &.mobile {
        display: initial;
        @media (min-width: 1401px) {
            display: none;
        }
    }
}

.head__wrapper__sub-pages__single {
    position: relative;
    overflow: hidden;
    @media (max-width: 1400px) {
        width: fit-content;
    }

    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        background: #EA5600;
        border-radius: 0px 0px 8px 8px;
        height: 8px;
        width: 100%;
        transform: translateY(-102%);
        transition: .5s cubic-bezier(.19, 1, .22, 1);
        @media (max-width: 768px) {
            height: 6px;
        }
    }

    &.active {
        &:before {
            transform: translateY(0);
        }
    }

    &:hover {
        &:before {
            transform: translateY(0);
        }
    }

    a {
        font-weight: 400;
        font-size: 29px;
        line-height: 150%;
        color: #1A1A1A;
        display: block;
        padding: 24px 0 16px 0;
        height: 100%;
        @media (max-width: 1400px) {
            width: fit-content;
            font-size: 26px;
        }
        @media (max-width: 768px) {
            padding: 12px 0 6px 0;
            width: fit-content;
            font-size: 23px;
        }

        &:after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 1px;
            background: #1A1A1A;
        }
    }
}