.hero-module {
    & > div.container-fluid {
        @media (max-width: 1024px) {
            padding: 0;
        }
    }
}

.hero-module__wrapper {
    border-radius: 0 0 40px 40px;
    height: calc(200vh - 48px);
    position: relative;
    overflow: hidden;
    @media (max-width: 768px) {
        border-radius: 0 0 32px 32px;
    }
    @supports (-webkit-touch-callout: none) {
        height: calc(200dvh - 24px);
    }

    &.title_descr {
        .hero-module__layer-above__content, .hero-module__layer-under__content {
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;

            h1 {
                margin-left: 56px;
                margin-right: 56px;
                @media (max-width: 1024px) {
                    margin-left: 24px;
                    margin-right: 24px;
                }
            }

            .hero-module__wrapper__descr {
                margin-left: 56px;
                margin-right: 56px;
                @media (max-width: 1024px) {
                    margin-left: 24px;
                    margin-right: 24px;
                }
            }
        }

        .hero-module__layer-above__inner {
            h1 {
                margin-top: -75px;
                @media (max-width: 1400px) {
                    margin-top: 0;
                }
                @media (max-width: 768px) {
                    margin-top: 80px;
                }
            }
        }

        .hero-module__layer-under__inner {
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;

            h1 {
                margin-top: -75px;
                @media (max-width: 1400px) {
                    margin-top: 0;
                }
                @media (max-width: 768px) {
                    margin-top: 80px;
                }
            }
        }
    }
}

.hero-module__wrapper__descr {
    font-style: normal;
    font-weight: 400;
    font-size: 47px;
    line-height: 130%;
    text-indent: 468px;
    color: #FFFFFF;
    @media (max-width: 1400px) {
        font-size: 29px;
        text-indent: initial;
    }
    @media (max-width: 768px) {
        font-size: 23px;
    }

    p {
        font-style: normal;
        font-weight: 400;
        font-size: 47px;
        text-indent: 468px;
        line-height: 130%;
        color: #FFFFFF;
        @media (max-width: 1400px) {
            font-size: 29px;
            text-indent: initial;
        }
        @media (max-width: 768px) {
            font-size: 23px;
        }
        @media screen and (max-width: 380px),
        screen and (max-height: 650px) {
            font-size: 16px;
        }
    }

}

.hero-module__layer-above__inner {
    position: fixed;
}

.hero-module__layer-above__inner, .hero-module__layer-under__inner {
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    -webkit-transform: translate3d(0, 0, 0);
    display: flex;
    justify-content: center;
    height: 100%;
    flex-direction: column;
    width: 100%;
}

.hero-module__layer-under__inner {
    display: flex;
    height: 100%;
    justify-content: center;
}

.hero-module__layer-above__content, .hero-module__layer-under__content {
    height: calc(100vh - 24px);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    position: absolute;
    z-index: 3;
    @supports (-webkit-touch-callout: none) {
        height: calc(100dvh - 24px);
    }

    h1 {
        font-weight: 500;
        font-size: 123px;
        line-height: 120%;
        color: #FFFFFF;
        margin: 0;
        position: relative;
        -webkit-backface-visibility: hidden;
        -webkit-perspective: 1000;
        -webkit-transform: translate3d(0, 0, 0);
        margin-left: 180px;
        margin-right: 180px;
        margin-top: -100px;
        @media (max-width: 1280px) {
            font-size: 109px;
            line-height: 120%;
            padding-bottom: 8px;
            margin-top: -50px;
            margin-left: 24px;
            margin-right: 24px;
        }
        @media (max-width: 768px) {
            font-size: 59px;
        }

        span {
            font-weight: 500;
            font-size: 123px;
            line-height: 120%;
            color: #FFFFFF;
            @media (max-width: 1600px) {
                font-size: 85px;
                line-height: 120%;
                line-height: 100%;
            }
            @media (max-width: 1200px) {
                font-size: 69px;
            }
            @media (max-width: 768px) {
                font-size: 59px;
            }
            @media screen and (max-width: 380px),
            screen and (max-height: 650px) {
                font-size: 40px;
            }
        }

        span {
            display: block;
            -webkit-backface-visibility: hidden;
            -webkit-perspective: 1000;
            -webkit-transform: translate3d(0, 0, 0);

            &:nth-of-type(even) {
                text-align: right;
            }
        }
    }
}

.hero-module__layer-under__content {
    background: #fff;
    height: calc(100vh - 24px);
    border-radius: 0 0 40px 40px;
    z-index: 2;
    @media (max-width: 768px) {
        border-radius: 0 0 32px 32px;
    }
    @supports (-webkit-touch-callout: none) {
        height: calc(100dvh - 24px);
    }

    h1 {
        span {
            color: #EA5600;
        }
    }

    p {
        color: #EA5600;
    }
}

.hero-module__layer-above__image {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 2;
}

.hero-module__layer-above {
    height: calc(100vh - 24px);
    width: 100%;
    z-index: 3;
    position: relative;
    overflow: hidden;
    top: 0;
    border-radius: 0 0 40px 40px;
    @media (max-width: 768px) {
        border-radius: 0 0 32px 32px;
    }
    @supports (-webkit-touch-callout: none) {
        height: calc(100dvh - 24px);
    }
}

.hero-module__layer-under {
    height: calc(100vh - 24px);
    width: 100%;
    z-index: 2;
    position: absolute;
    overflow: hidden;
    top: 0;
    border-radius: 0 0 40px 40px;
    @media (max-width: 768px) {
        border-radius: 0 0 32px 32px;
    }
}