.image-text {
    background: #fff;
}

.image-text__wrapper {
    display: grid;
    grid-template-columns: calc(50% - 44px) 50%;
    grid-column-gap: 40px;
    @media (max-width: 920px) {
        grid-template-columns: 1fr;
        grid-row-gap: 24px;
    }

    &.reverse {
        grid-template-columns: 50% calc(50% - 44px);

        .image-text__wrapper__image {
            grid-column: 1;
            grid-row: 1;
            padding-right: initial;
            padding-left: 24px;
        }

        .image-text__wrapper__content {
            grid-column: 2;
            grid-row: 1;
        }

        .image-text__wrapper__content__label {
            left: initial;
            right: 0;
            transform: translateX(100%) rotate(90deg);
            transform-origin: 0% 0%;
        }
    }
}

.image-text__wrapper__image {
    padding-right: 24px;
    @media (max-width: 920px) {
        grid-row: 1;
        padding-right: 0;
    }

    img {
        width: 100%;
        height: 100%;
        display: block;
        object-fit: cover;
        border-radius: 0px 0px 40px 40px;
        @media (max-width: 768px) {
            border-radius: 0px 0px 32px 32px;
        }
    }
}

.image-text__wrapper__content {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 0 40px;
    @media (max-width: 920px) {
        padding: 0 16px;
    }
}

.image-text__wrapper__content__inner {
    max-width: 720px;
    display: flex;
    flex-direction: column;
    width: 100%;

    a.changable {
        @include btn();
        margin-top: 56px;
        @media (max-width: 768px) {
            margin-top: 48px;
        }
    }

    h2 {
        margin: 0 0 24px;
        @media (max-width: 768px) {
            margin: 0 0 8px;
        }
    }
}

.image-text__wrapper__content__descr {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #1A1A1A;
    margin: 0;

    ul, ol {
        padding: 20px 0 20px 20px;
        margin: 0;
    }

    ol {

        & ~ ul {
            padding: 0 0 20px 20px;
        }
    }

    ul {
        list-style-type: circle;

        & ~ ol {
            padding: 0 0 20px 20px;
        }
    }


    a {
        text-decoration: underline;
    }

    p {
        line-height: 150%;
        margin: 0 0 15px;

        &:last-of-type {
            margin: 0;
        }
    }

    @media (max-width: 768px) {
        font-size: 14px;
        line-height: 150%;
    }
}

.image-text__wrapper__content__label {
    position: absolute;
    top: 0;
    left: 0;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: right;
    color: #1A1A1A;
    transform: translateX(-100%) rotate(-90deg);
    transform-origin: 100% 0%;

    @media (max-width: 920px) {
        display: none;
    }
}