.news-posts {
    &.single-post {
        padding: 40px 0 80px;
        background: #fff;

        @media (max-width: 1024px) {
            padding: 40px 0 64px !important;
        }

        .news-posts__wrapper__head {
            h3 {
                font-size: 47px;
                line-height: 120%;
                @media (max-width: 768px) {
                    font-size: 37px;
                    line-height: 120%;
                }
            }
        }
    }

    .container-fluid-min {

        &.slider {
            @media (max-width: 768px) {
                padding: 0;
            }

            .news-posts__wrapper__head {
                margin: 0 12px;
            }
        }
    }
}

.news-posts__wrapper__content {
    @media (max-width: 768px) {
        width: 100%;
        overflow: hidden;
    }
}

.news-posts__wrapper {
    display: grid;
    grid-template-columns: 447px 1fr;
    grid-column-gap: 20px;
    @media (max-width: 1200px) {
        grid-template-columns: initial;
        grid-row-gap: 40px;
        grid-column-gap: initial;
    }

    &.slider {
        grid-row-gap: 64px;

        .news-posts__wrapper__head {
            h3 {
                @media (max-width: 768px) {
                    border-bottom: 1px solid #1A1A1A;
                    padding-right: 100px;
                }
            }
        }
    }
}

.news-posts__wrapper__head {
    position: relative;

    .swiper_nav {
        display: flex;
        align-items: center;
        gap: 24px;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        @media (min-width: 769px) {
            display: none;
        }
        @media (max-width: 600px) {
            gap: 30px;
        }

        .news-slider__prev {
            svg {
                transform: rotate(180deg);
            }
        }

        .news-slider__next, .news-slider__prev {
            background: 0;
            border: 0;
            outline: none;
            padding: 0;
            margin: 0;

            svg {
                width: 32px;
                height: 32px;
                object-fit: contain;
                display: block;
                @media (max-width: 600px) {
                    width: 26px;
                    height: 23px;
                }
            }
        }
    }

    &.mini {
        h3 {
            font-size: 47px;
            line-height: 120%;
            @media (max-width: 768px) {
                font-size: 37px;
                line-height: 120%;
            }
        }
    }

    h3 {
        font-weight: 500;
        font-size: 47px;
        line-height: 120%;
        color: #EA5600;
        @media (max-width: 1024px) {
            font-size: 50px;
            line-height: 120%;
            margin: 0;
        }
        @media (max-width: 768px) {
            font-size: 37px;
        }
    }
}

.news-posts__wrapper__content__loop {
    display: flex;
    flex-direction: column;
    gap: 27px;

    &.slider {
        @media (max-width: 768px) {
            display: none;
        }
    }
}

.news-posts__wrapper__content__slider {
    display: none;

    &.slider {
        margin: 0 12px;
        @media (max-width: 768px) {
            display: block;
        }
    }
}

.news-posts__wrapper__content__single {
    display: flex;
    gap: 40px;
    row-gap: 24px;
    width: fit-content;
    transition: transform .6s cubic-bezier(.19, 1, .22, 1);
    padding-bottom: 24px;
    width: 100%;
    max-width: 1049px;

    @media (max-width: 768px) {
        flex-direction: column;
    }

    &.desktop {
        @media (max-width: 1024px) {
            display: none;
        }
    }

    &.mobile {
        @media (min-width: 1025px) {
            display: none;
        }
    }


    &:hover {
        background: #fff;
        border-radius: 0px 0px 24px 30px;
        @media (max-width: 1024px) {
            background: initial;
            border-radius: initial;
        }
    }

    .news-posts__wrapper__text {
        max-width: 738px;
        padding-right: 24px;
        position: relative;
        width: 100%;

        @media (max-width: 1024px) {
            display: flex;
            flex-direction: column;
        }
        @media (max-width: 768px) {
            padding-right: 0;
        }

        a {
            @include btn();
            border: 2px solid #EA5600;
            color: #EA5600;
            margin-left: auto;
            margin-top: auto;
            margin-bottom: 23px;
            @media (max-width: 768px) {
                margin-top: 40px;
                margin-bottom: 40px;
            }

            &:after {
                background: #EA5600;
            }
        }

        &:after {
            content: '';
            position: absolute;
            left: 0;
            width: calc(100% - 24px);
            height: 1px;
            background: #000;
            bottom: 0;
            @media (max-width: 768px) {
                width: 100%;
            }
        }
    }

    img {
        width: 271px;
        height: 271px;
        object-fit: cover;
        display: block;
        border-radius: 0px 0px 20px 20px;
        @media (max-width: 768px) {
            width: 100%;
        }
    }

    span {
        font-weight: 600;
        font-size: 29px;
        line-height: 130%;
        letter-spacing: 0.04em;
        color: #1A1A1A;
        margin: 0;
        padding-top: 16px;
        display: block;
        @media (max-width: 768px) {
            padding-top: 0;
            margin: 0 0 10px;
        }
    }

    p {
        font-weight: 400;
        font-size: 18px;
        line-height: 150%;
        color: #1A1A1A;
        max-width: 1049px;
        margin: 0 0 20px;
        overflow: hidden;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        display: -webkit-box;
        @media (max-width: 768px) {
            display: initial;
            -webkit-line-clamp: initial;
        }
    }
}

.news-posts__wrapper__content__link {
    padding-top: 80px;
    padding-bottom: 40px;
    @media (max-width: 768px) {
        display: none;
    }

    a {
        @include btn();
        color: #EA5600;
        border: 2px solid #EA5600;

        &:after {
            background: #EA5600;
        }
    }
}

.news-posts__wrapper__content__loadmore {
    margin-top: 91px;
    margin-bottom: 76px;
    display: flex;
    align-items: center;
    gap: 40px;
    @media (max-width: 768px) {
        flex-direction: column;
        margin-top: 40px;
        margin-bottom: 0;
        gap: 20px;
    }

    a {
        @include btn();
        color: #EA5600;
        border: 2px solid #EA5600;

        @media (max-width: 768px) {
            display: flex;
            align-items: center;
            gap: 10px;
            padding: 15px 36px;
        }

        svg {
            @media (min-width: 769px) {
                display: none;
            }
        }

        &:after {
            background: #EA5600;
        }
    }
}

.news-slider__wrapper {
    .swiper-slide {
        width: auto;

        &:first-of-type {
            //margin-left: 16px;
            @media (max-width: 600px) {
                //margin-left: 12px;
            }
        }

        &:last-of-type {
            //margin-right: 16px;
            @media (max-width: 600px) {
                //margin-right: 12px;
            }
        }
    }
}

.news-slider__wrapper__single {
    width: 100%;
    position: relative;
    display: block;

    &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        width: calc(100% - 32px);
        transform: translateX(-50%);
        height: 1px;
        background: #000;
    }

    span {
        display: block;
        font-weight: 600;
        font-size: 23px;
        line-height: 120%;
        color: #1A1A1A;
        margin: 0;
        padding-top: 16px;
        padding-bottom: 8px;
        padding-left: 16px;
        padding-right: 16px;
    }

    p {
        font-weight: 400;
        font-size: 14px;
        line-height: 150%;
        color: #1A1A1A;
        padding-bottom: 32px;
        margin: 0;
        padding-left: 16px;
        padding-right: 16px;
    }

    img {
        width: 100%;
        display: block;
        height: 100%;
        object-fit: cover;
        border-radius: 0px 0px 20px 20px;
        width: 100%;
        height: 350px;
        @media (max-width: 500px) {
            height: 271px;
        }
    }
}