.quotes {
    width: 100%;
    overflow: hidden;
    background: #fff;
}

.quotes__loop {
    padding: 0 12px;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-column-gap: 27px;
    grid-row-gap: 40px;
    @media (max-width: 1400px) {
        grid-column-gap: 20px;
        grid-row-gap: 40px;
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    @media (max-width: 768px) {
        padding: 0;
    }

    .swiper-notification {
        @media (min-width: 1025px) {
            display: none;
        }
    }

    .swiper-slide {
        width: auto;
    }

    &.grid {
        @media (max-width: 1024px) {
            display: none;
        }
    }

    &.slider {

        @media (min-width: 1025px) {
            display: none;
        }
    }
}

.quotes__loop__single {
    overflow: hidden;
    max-width: 581px;
    @media (max-width: 768px) {
        max-width: 348px;
    }

    &:hover {
        .quotes__loop__single__inner__image {
            transform: translateY(calc(-100% + 24px));
        }
    }
}

.quotes__loop__single__inner {
    position: relative;
    min-height: 464px;
    @media (max-width: 768px) {
        min-height: 400px;
    }
}

.quotes__loop__single__inner__image {
    transition: .4s ease-in-out;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    border-radius: 0px 0px 24px 24px;
    overflow: hidden;

    img {
        width: 100%;
        height: 100%;
        display: block;
        object-fit: cover;
        min-height: 464px;
        @media (max-width: 1024px) {
            min-height: 400px;
        }
    }
}

.quotes__loop__descr {
    padding: 48px 40px 61px 40px;
    background: #E9DDCB;
    border-radius: 0px 0px 24px 24px;
    overflow: hidden;
    min-height: 464px;
    @media (max-width: 768px) {
        padding: 48px 16px 60px 16px;
        min-height: 400px;
    }
}

.quotes__loop__descr__head {
    padding-bottom: 16px;
    border-bottom: 1px solid #000000;
    margin-bottom: 40px;

    h3 {
        font-weight: 600;
        font-size: 29px;
        line-height: 150%;
        color: #1A1A1A;
        margin: 0 0 8px;
    }

    span {
        font-weight: 600;
        font-size: 18px;
        line-height: 150%;
        color: #1A1A1A;
        display: block;
        @media (max-width: 1024px) {
            font-size: 16px;
        }
        @media (max-width: 768px) {
            font-size: 14px;
        }
    }
}

.quotes__loop__descr__content {
    font-weight: 400;
    font-size: 29px;
    line-height: 150%;
    color: #1A1A1A;
    overflow: hidden;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    @media (max-width: 1024px) {
        font-size: 26px;
    }
    @media (max-width: 768px) {
        font-size: 23px;
        line-height: 130%;
    }

    p {
        font-weight: 400;
        font-size: 29px;
        line-height: 150%;
        color: #1A1A1A;
        margin: 0;
        @media (max-width: 1024px) {
            font-size: 26px;
        }
        @media (max-width: 768px) {
            font-size: 23px;
            line-height: 130%;
        }
    }
}

.quotes__wrapper__head__nav {
    margin-bottom: 15px;
    @media (max-width: 768px) {
        margin-bottom: 6px;
    }

    @media (min-width: 1025px) {
        display: none;
    }

    .swiper_nav {
        display: flex;
        align-items: center;
        gap: 36px;

        button {
            background: 0 0;
            border: 0;
            outline: none;
            margin: 0;
            padding: 0;
        }
    }
}

.quotes__wrapper__head {
    margin-bottom: 56px;
    border-bottom: 1px solid #1A1A1A;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    @media (max-width: 768px) {
        margin-bottom: 64px;
    }


    span {
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        color: #1A1A1A;
        display: block;
        @media (max-width: 1024px) {
            font-size: 16px;
        }
        @media (max-width: 768px) {
            font-size: 12px;
            line-height: 150%;
            letter-spacing: 0.1em;
        }
    }

    h2 {
        font-weight: 500;
        font-size: 60px;
        line-height: 72px;
        color: #1A1A1A;
        margin: 16px 0;
        @media (max-width: 1024px) {
            font-size: 42px;
        }
        @media (max-width: 768px) {
            margin: 0;
            font-size: 37px;
            line-height: 120%;
        }
    }
}

.quotes__loop__single__title {
    font-weight: 600;
    font-size: 29px;
    line-height: 130%;
    letter-spacing: 0.04em;
    color: #1A1A1A;
    margin: 24px 0 0;
}

.quotes__loop__single__link {
    display: flex;
    align-items: center;
    gap: 16px;
    font-weight: 600;
    font-size: 18px;
    line-height: 150%;
    color: #1A1A1A;
    margin: 10.5px 0 0;
}