.referencer__wrapper__head {
    margin: 0 0 40px;
    width: 100%;
    border-bottom: 1px solid #1A1A1A;
    @media (max-width: 768px) {
        margin: 0 0 48px;
    }

    span {
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        color: #1A1A1A;
        display: block;
        @media (max-width: 1024px) {
            font-size: 16px;
        }
        @media (max-width: 768px) {
            font-size: 12px;
            line-height: 150%;
            letter-spacing: 0.1em;
        }
    }

    h2 {
        font-weight: 500;
        font-size: 60px;
        line-height: 72px;
        color: #1A1A1A;
        margin: 0;
        padding-bottom: 16px;
        @media (max-width: 1024px) {
            font-size: 44px;
        }
        @media (max-width: 768px) {
            font-size: 37px;
            line-height: 120%;
            padding-bottom: 1px;
        }
    }
}

.referencer__wrapper__loop {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-column-gap: 40px;
    grid-row-gap: 64px;
    margin-bottom: 40px;
    @media (max-width: 1024px) {
        grid-column-gap: 0;
        grid-row-gap: 40px;
        grid-template-columns: initial;
        display: block;
        margin-bottom: 0;
    }
}

.referencer-item__inner {
    width: 100%;
    height: auto;
    overflow: hidden;
    min-height: 535px;
    border-radius: 0px 0px 32px 32px;
    background: #e9ddcb;
    @media (max-width: 1800px) {
        min-height: 650px;
    }
    @media (max-width: 1024px) {
        min-height: 500px;
    }
    @media (max-width: 768px) {
        min-height: 535px;
    }
}

.referencer-item {
    @media (max-width: 1024px) {
        margin-bottom: 40px;
    }

    &:last-of-type {
        @media (max-width: 1024px) {
            margin-bottom: 0;
        }
    }

    a {
        font-weight: 600;
        font-size: 29px;
        line-height: 130%;
        letter-spacing: 0.04em;
        color: #1A1A1A;
        display: flex;
        gap: 25px;
        align-items: center;
        margin-top: 24px;
        padding-left: 8px;
        @media (max-width: 768px) {
            margin-top: 16px;
        }
        @media (max-width: 429px) {
            font-size: 20px;
        }

        svg {
            transition: .4s ease-in-out;
            transition-delay: .1s;
            flex: 0 0 auto;
        }
    }

    &:hover {
        a {
            svg {
                transform: translate(10px, -10px);
            }
        }

        .referencer-item__image {
            transform: translateY(calc(-100% + 25px));
        }

        .referencer-item__content__body__descr {
            line-height: 150%;

            p {
                line-height: 150%;
            }
        }

        .referencer-item__content__inner {
            padding: 80px 32px 107px 32px;
            @media (max-width: 1800px) {
                padding: 40px 32px;
            }
            @media (max-width: 768px) {
                padding: 80px 32px 32px 32px;
            }
        }

        .referencer-item__content__head {
            h3 {
                &:last-of-type {
                    transform: translateX(0);
                }
            }
        }

        .referencer-item__table__row {
            span {
                line-height: 150%;
            }
        }

    }
}

.referencer-item__image {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: .4s ease-in-out;
    transition-delay: .1s;
    z-index: 1;
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    -webkit-transform: translate3d(0, 0, 0);
    will-change: transform;

    img {
        object-fit: cover;
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 0px 0px 32px 32px;
    }
}

.referencer-item__content {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.referencer-item__content__inner {
    padding: 40px 32px 107px 32px;
    transition: .4s ease-in-out;
    transition-delay: .1s;
    @media (max-width: 1800px) {
        padding: 20px 32px 40px 32px;
    }
}

.referencer-item__content__head {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    row-gap: 10px;
    border-bottom: 1px solid #000000;
    width: 100%;
    margin-bottom: 32px;
    @media (max-width: 768px) {
        margin-bottom: 16px;
    }

    h3 {
        font-weight: 600;
        line-height: 130%;
        letter-spacing: 0.04em;
        font-size: 29px;
        padding-bottom: 8px;
        @media (max-width: 1024px) {
            font-size: 26px;
        }
        @media (max-width: 768px) {
            font-size: 23px;
        }

        &:last-of-type {
            transform: translateX(-50%);
            transition: .4s ease-in-out;
            transition-delay: .1s;
            @media (max-width: 1024px) {
                display: none;
            }
        }
    }
}

.referencer-item__content__body {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-column-gap: 32px;
    @media (max-width: 1600px) {
        grid-template-columns: initial;
        grid-row-gap: 32px;
    }
}

.referencer-item__content__body__descr {
    font-weight: 400;
    line-height: 80%;
    color: #1A1A1A;
    transition: .4s ease-in-out;
    transition-delay: .1s;
    @media (max-width: 1400px) {
        overflow: hidden;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        display: -webkit-box;
    }
    @media (max-width: 1024px) {
        font-size: 16px;
    }
    @media (max-width: 900px) {
        -webkit-line-clamp: 8;
    }
    @media (max-width: 768px) {
        font-size: 14px;
        -webkit-line-clamp: 18;
    }

    a {
        display: inline;
        text-decoration: underline;
        padding: 0;
        margin: 0;
    }

    ul, ol {
        padding: 20px 0 20px 20px;
        margin: 0;
    }

    ol {

        & ~ ul {
            padding: 0 0 20px 20px;
        }
    }

    ul {
        list-style-type: circle;

        & ~ ol {
            padding: 0 0 20px 20px;
        }
    }

    p, a, li {
        font-weight: 400;
        line-height: 80%;
        color: #1A1A1A;
        transition: .4s ease-in-out;
        transition-delay: .1s;
        font-size: 18px;
        @media (max-width: 1024px) {
            font-size: 16px;
        }
        @media (max-width: 768px) {
            font-size: 14px;
        }
    }
}

.referencer-item__table {
    @media (max-width: 900px) {
        display: none;
    }
}

.referencer-item__table__row {
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 20px;
    padding-bottom: 11px;
    margin-bottom: 12px;
    border-bottom: 1px solid #1A1A1A;
    align-items: flex-end;

    span {
        color: #1A1A1A;
        line-height: 80%;
        transition: .4s ease-in-out;
        transition-delay: .1s;

        &:first-of-type {
            font-weight: 600;
            font-size: 14px;
            letter-spacing: 0.08em;

        }

        &:last-of-type {
            font-weight: 400;
            font-size: 18px;
        }
    }

    &:last-of-type {
        margin-bottom: 0;
    }
}