.single-video__wrapper__link {
    width: calc(100% + 312px);
    margin-left: -156px;
    margin-right: -156px;
    position: relative;
    margin-top: 0;
    margin-bottom: 0;
    @media (max-width: 1400px) {
        width: calc(100% + 200px);
        margin-left: -100px;
        margin-right: -100px;
    }
    @media (max-width: 1200px) {
        width: 100%;
        margin-left: initial;
        margin-right: initial;
    }

    video {
        width: 100%;
        height: auto;
        object-fit: cover;
        display: block;
        border-radius: 0px 0px 40px 40px;
        max-height: 650px;
        @media (max-width: 600px) {
            max-height: 300px;
            border-radius: 0px 0px 13.2007px 13.2007px;
        }
    }
}

.single-video__wrapper__link[data-fullscreen="true"] {
    display: flex;
    align-items: center;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;

    video {
        height: 100vh;
        width: 100vw;
        position: fixed;
        top: 0;
        border-radius: 0;
        max-height: 100%;
    }
}

.single-video__wrapper__play {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    z-index: 5;

    &.active {
        opacity: 0;
        pointer-events: none;
    }

    &:before {
        width: 100px;
        height: 100px;
        background: #1A1A1A;
        opacity: 0.6;
        content: '';
        position: absolute;
        border-radius: 50%;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
        @media (max-width: 768px) {
            width: 40px;
            height: 40px;
        }
        @media (max-width: 450px) {
            width: 60px;
            height: 60px;
        }
    }

    svg {
        display: block;
        z-index: 1;
        margin-left: 15px;
        @media (max-width: 768px) {
            width: 24px;
            height: 24px;
            margin-left: 7px;
        }
        @media (max-width: 450px) {
            width: 32px;
            height: 32px;
            margin-left: 8px;
        }
    }
}

.single-video__wrapper__caption {
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0.08em;
    color: #1A1A1A;
    padding: 16px 0 24px 0;
    border-bottom: 1px solid #000000;
}

.cu_video__control__progress__wrap {
    position: absolute;
    bottom: 50px;
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    @media (max-width: 768px) {
        width: calc(100% - 100px);
        left: calc(50% - 25px);
    }
    @media (max-width: 450px) {
        bottom: 35px;
    }

    &.removed {
        width: 80%;
        left: 50%;
    }
}

progress.cu_video__control__progress {
    background: transparent;
    height: 10px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    overflow: hidden;
    border-radius: 24px;
}

progress.cu_video__control__progress::-webkit-progress-bar {
    height: 10px;
    background-color: #fff !important;
    border-radius: 24px;
}

progress.cu_video__control__progress::-moz-progress-bar {
    height: 10px;
    background-color: #fff !important;
    border-radius: 24px;
}

progress.cu_video__control__progress::-webkit-progress-value {
    background-color: transparent;
    border-radius: 24px;
}

progress.cu_video__control__progress::-webkit-progress-inner-element {
    background-color: #fff !important;
    border-radius: 24px;
}

progress[value]::-webkit-progress-bar {
    background-color: #fff;
}

progress[value] {
    -webkit-appearance: none;
}

progress[value]::-webkit-progress-value {
    background-color: #fff;
}

.cu_video__control__fullscreen {
    position: absolute;
    right: 40px;
    bottom: 35px;
    @media (max-width: 1024px) {
        bottom: 31px;
        right: 35px;
    }
    @media (max-width: 768px) {
        bottom: 31px;
        right: 22px;
    }
    @media (max-width: 450px) {
        bottom: 19px;
    }

    img {
        width: 30px;
        height: 30px;
        cursor: pointer;
        @media (max-width: 450px) {
            width: 25px;
            height: 25px;
        }
    }
}

.cu_video__control__progress_bar {
    background: #ea5600;
    border-radius: 24px;
    position: absolute;
    top: 0;
    left: 0;
    height: 10px;
    pointer-events: none;
}

.video_full {
    width: 100vw;
    height: calc(100dvh + 0px);
    background: rgba(0, 0, 0, .6);
    z-index: -1;
    position: fixed;
    top: 0;

    .single-video__wrapper__link {
        margin: 0;
        width: 100%;
        height: 100%;
        max-height: 100%;
        border-radius: 40px;
        display: flex;
        align-items: center;
        justify-content: center;

        video {
            max-height: 100%;
            height: 100%;
            border-radius: 0;
        }
    }
}