.single-text__wrapper {

    .wp-video {
        padding: 40px 0;

        .mejs-container {
            max-height: 650px;
            @media (max-width: 600px) {
                max-height: 400px;
            }
        }

        video {
            height: 100%;
            object-fit: cover;
            max-height: 650px;
            @media (max-width: 600px) {
                max-height: 400px;
            }
        }

        & ~ .wp-video {
            padding: 0 0 40px 0;
        }

        .mejs-inner {
            height: 100%;
            max-height: 650px;
            @media (max-width: 600px) {
                max-height: 400px;
            }

            .mejs-layers {
                height: 100%;
            }
        }
    }

    blockquote {
        font-size: 29px;
        line-height: 150%;
        color: #1A1A1A;
        display: block;
        margin: 0;
        padding: 0 0 40px;
        @media (max-width: 768px) {
            font-size: 23px;
            line-height: 130%;
        }

        p {
            font-size: 29px;
            line-height: 150%;
            color: #1A1A1A;
            display: block;
            margin: 0;
            padding: 0;
            @media (max-width: 768px) {
                font-size: 23px;
                line-height: 130%;
            }
        }
    }

    ul, ol {
        padding: 20px 0 20px 20px;
        margin: 0;
    }

    ol {

        & ~ ul {
            padding: 0 0 20px 20px;
        }
    }

    ul {
        list-style-type: circle;

        & ~ ol {
            padding: 0 0 20px 20px;
        }
    }

    a {
        text-decoration: underline;
    }

    figure {
        width: 100% !important;
        margin: 0 !important;
        padding: 40px 0 40px;

        &.alignright {
            float: right;
            width: auto !important;
            margin-right: -156px !important;
            padding: 32px 0 0 40px;
            margin: 0 0 24px;
            position: relative;
            margin-bottom: 34px !important;
            @media (max-width: 1400px) {
                margin-right: -100px !important;
            }
            @media (max-width: 1200px) {
                margin-right: initial !important;
            }
            @media (max-width: 768px) {
                float: initial;
                padding: 40px 0 0;
                margin-bottom: 24px !important;
            }

            &:after {
                content: '';
                position: absolute;
                bottom: 0;
                height: 1px;
                width: 100%;
                max-width: 533px;
                left: calc(50% + 20px);
                transform: translateX(-50%);
                background: #1A1A1A;
                @media (max-width: 1400px) {
                    max-width: 400px;
                }
                @media (max-width: 768px) {
                    max-width: initial;
                    width: calc(100% - 48px);
                    left: 50%;
                }
            }

            figcaption {
                max-width: 311px;
                margin: 0 24px;
                border-bottom: 0;
            }

            img {
                width: 581px;
                height: 581px;
                margin-left: initial;
                margin-right: initial;
                @media (max-width: 1400px) {
                    width: 400px;
                    height: 400px;
                }
                @media (max-width: 768px) {
                    width: 100%;
                    height: auto;
                    max-height: 398px;
                    border-radius: 0px 0px 27.401px 27.401px;
                }
            }
        }

        &.alignleft {
            float: left;
            width: auto !important;
            margin-left: -156px !important;
            padding: 32px 40px 0;
            margin: 0 0 24px;
            position: relative;
            margin-bottom: 34px !important;
            @media (max-width: 1400px) {
                margin-left: -100px !important;
            }
            @media (max-width: 1200px) {
                margin-left: initial !important;
            }
            @media (max-width: 768px) {
                float: initial;
                padding: 40px 0 0;
                margin-bottom: 24px !important;
            }

            &:after {
                content: '';
                position: absolute;
                bottom: 0;
                height: 1px;
                width: 100%;
                max-width: 533px;
                left: 50%;
                transform: translateX(-50%);
                background: #1A1A1A;
                @media (max-width: 1400px) {
                    max-width: 400px;
                }
                @media (max-width: 768px) {
                    max-width: initial;
                    width: calc(100% - 48px);
                    left: 50%;
                }
            }

            figcaption {
                max-width: 311px;
                margin: 0 24px;
                border-bottom: 0;
            }

            img {
                width: 581px;
                height: 581px;
                margin-left: initial;
                margin-right: initial;
                @media (max-width: 1400px) {
                    width: 400px;
                    height: 400px;
                }
                @media (max-width: 768px) {
                    width: 100%;
                    height: auto;
                    max-height: 398px;
                    border-radius: 0px 0px 27.401px 27.401px;
                }
            }
        }

        img {
            width: calc(100% + 312px);
            margin-left: -156px;
            margin-right: -156px;
            height: auto;
            max-height: 800px;
            object-fit: cover;
            display: block;
            max-width: initial;
            border-radius: 0px 0px 40px 40px;
            @media (max-width: 1400px) {
                width: calc(100% + 200px);
                margin-left: -100px;
                margin-right: -100px;
            }
            @media (max-width: 1200px) {
                width: 100%;
                margin-left: initial;
                margin-right: initial;
            }
            @media (max-width: 600px) {
                border-radius: 0px 0px 13.2007px 13.2007px;
                height: 213px;
            }
        }

        figcaption {
            padding: 16px 0 24px 0;
            font-weight: 500;
            font-size: 14px;
            line-height: 150%;
            letter-spacing: 0.08em;
            color: #1A1A1A;
            border-bottom: 1px solid #1A1A1A;

        }
    }

    p {
        margin: 0;
        padding: 0;
        font-weight: 400;
        font-size: 18px;
        line-height: 150%;
        color: #1A1A1A;

        @media (max-width: 768px) {
            font-size: 14px;
            line-height: 150%;
        }


        img {
            width: calc(100% + 312px);
            margin-left: -156px;
            margin-right: -156px;
            height: auto;
            max-height: 800px;
            object-fit: cover;
            display: block;
            max-width: initial;
            border-radius: 0px 0px 40px 40px;
            margin-top: 40px;
            margin-bottom: 40px;
            max-height: 650px;
            @media (max-width: 1400px) {
                width: calc(100% + 200px);
                margin-left: -100px;
                margin-right: -100px;
            }
            @media (max-width: 1200px) {
                width: 100%;
                margin-left: initial;
                margin-right: initial;
            }
            @media (max-width: 600px) {
                max-height: 400px;
            }
        }


        strong {
            font-weight: 700;
        }
    }
}

.single-text__wrapper__social {
    display: flex;
    align-items: center;
    gap: 26px;
    padding: 0 24px;
    border-width: 0px 2px 2px 2px;
    border-style: solid;
    border-color: #000000;
    border-radius: 0px 0px 24px 24px;
    margin-top: 80px;
    padding-bottom: 20px;
    margin-bottom: 248px;
    @media (max-width: 768px) {
        padding-top: 4px;
        margin-bottom: 74px;
    }

    h4 {
        margin: 0;
        font-weight: 600;
        font-size: 18px;
        line-height: 150%;
        color: #000000;
        @media (max-width: 768px) {
            font-size: 14px;
        }
    }
}

.clipboard_link {
    position: relative;
}

.single-text__wrapper__social__loop {
    display: flex;
    gap: 30px;
    @media (max-width: 400px) {
        gap: 15px;
    }

    a {
        display: block;

        svg, img {
            width: 28px;
            height: 28px;
            display: block;
            object-fit: cover;
        }
    }
}

.text_copied {
    position: absolute;
    opacity: 0;
    transition: .4s linear;
    background: rgba(0, 0, 0, .8);
    color: #fff;
    font-weight: 500;
    font-size: 17px;
    line-height: 150%;
    border-radius: 8px;
    padding: 4px 8px;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    width: max-content;
    max-width: 400px;
    @media (max-width: 1200px) {
        left: 0;
        transform: translate(0, -50%);
    }
    @media (max-width: 768px) {
        left: 50%;
        transform: translate(-100%, -50%);
    }
    @media (max-width: 500px) {
        max-width: 350px;
    }

    &.copied {
        animation: copied 1.25s linear;
        @media (max-width: 1200px) {
            animation: copied-mob 1.25s linear;
        }
    }
}

@keyframes copied {
    0% {
        opacity: 0;
        transform: translate(-50%, -50%);
    }
    25% {
        opacity: 1;
        transform: translate(-50%, -125%);
    }

    75% {
        opacity: 1;
        transform: translate(-50%, -125%);
    }
    100% {
        opacity: 0;
        transform: translate(-50%, -125%);
    }
}

@keyframes copied-mob {
    0% {
        opacity: 0;
        transform: translate(-100%, -50%);
    }
    25% {
        opacity: 1;
        transform: translate(-100%, -125%);
    }

    75% {
        opacity: 1;
        transform: translate(-100%, -125%);
    }
    100% {
        opacity: 0;
        transform: translate(-100%, -125%);
    }
}