.single-images__wrapper__loop {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
}

.single-images__wrapper__single {
    width: calc(100% + 312px);
    margin-left: -156px;
    margin-right: -156px;
    @media (max-width: 1400px) {
        width: calc(100% + 200px);
        margin-left: -100px;
        margin-right: -100px;
    }
    @media (max-width: 1200px) {
        width: 100%;
        margin-left: initial;
        margin-right: initial;
    }

    img {
        width: 100%;
        height: auto;
        display: block;
        object-fit: cover;
        border-radius: 0px 0px 24px 24px;
        max-height: 650px;
        @media (max-width: 600px) {
            height: 213px;
            border-radius: 0px 0px 7.9204px 7.9204px;
            max-height: 400px;
        }
    }
}

.single-images__wrapper__multiple {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: calc(100% + 312px);
    margin-left: -156px;
    margin-right: -156px;
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    @media (max-width: 1400px) {
        width: calc(100% + 200px);
        margin-left: -100px;
        margin-right: -100px;
    }
    @media (max-width: 1200px) {
        width: 100%;
        margin-left: initial;
        margin-right: initial;
    }
    @media (max-width: 768px) {
        grid-template-columns: initial;
    }
}

.single-images__wrapper__multiple__img {
    img {
        width: 100%;
        height: auto;
        display: block;
        object-fit: cover;
        border-radius: 0px 0px 40px 40px;
        max-height: 650px;
        @media (max-width: 600px) {
            border-radius: 0px 0px 27.401px 27.401px;
            max-height: 400px;
        }
    }
}

.single-images__wrapper__caption {
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0.08em;
    color: #1A1A1A;
    padding: 16px 0 24px 0;
    margin-left: 24px;
    margin-right: 24px;
    border-bottom: 1px solid #000000;
    @media (max-width: 768px) {
        margin-left: 0;
        margin-right: 0;
    }
}