.team__wrapper {
    h2 {
        font-weight: 500;
        font-size: 76px;
        line-height: 120%;
        color: #1A1A1A;
        margin: 0;
        padding-bottom: 80px;
        @media (max-width: 1024px) {
            font-size: 67px;
            padding-bottom: 60px;
        }
        @media (max-width: 768px) {
            font-size: 37px;
            padding-bottom: 40px;
        }
    }
}

.team__wrapper__loop__single {
    padding-bottom: 16px;

    @media (max-width: 768px) {
        padding-bottom: 0;
    }
    @media (max-width: 600px) {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        grid-column-gap: 20px;
    }
}

.team__wrapper__loop {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-column-gap: 40px;
    grid-row-gap: 48px;
    @media (max-width: 1200px) {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
    @media (max-width: 900px) {
        grid-template-columns: repeat(2, minmax(0, 1fr));
        grid-column-gap: 30px;
        grid-row-gap: 30px;
    }
    @media (max-width: 768px) {
        grid-template-columns: repeat(2, minmax(0, 1fr));
        grid-column-gap: 24px;
        grid-row-gap: 24px;
    }
    @media (max-width: 600px) {
        grid-template-columns: initial;
    }
}

.team__wrapper__loop__single__img {
    height: 0;
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    display: block;
    margin-bottom: 24px;
    @media (max-width: 600px) {
        margin-bottom: 0;
    }

    img {
        position: absolute;
        object-fit: cover;
        display: block;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        border-radius: 0px 0px 20px 20px;
        @media (max-width: 600px) {
            border-radius: 0px 0px 8.8px 8.8px;
        }
    }
}

.team__wrapper__loop__single {
    span {
        font-weight: 600;
        font-size: 18px;
        line-height: 150%;
        color: #000000;
        display: block;
        @media (max-width: 1024px) {
            font-size: 16px;
        }

        @media (max-width: 768px) {
            font-size: 14px;
        }
    }

    h4 {
        font-weight: 600;
        font-size: 29px;
        line-height: 130%;
        letter-spacing: 0.04em;
        color: #000000;
        margin: 0;
        padding-bottom: 16px;
        @media (max-width: 1024px) {
            font-size: 26px;
        }

        @media (max-width: 768px) {
            padding-bottom: 8px;
            line-height: 120%;
            font-size: 23px;
        }
    }

    a {
        font-weight: 400;
        font-size: 18px;
        line-height: 150%;
        color: #000000;
        display: block;
        @media (max-width: 1024px) {
            font-size: 16px;
        }

        @media (max-width: 768px) {
            font-size: 14px;
        }

        &:hover {
            text-decoration: underline;
        }
    }
}