.text-slider {
    overflow: hidden;
    width: 100%;
}

.text-slider__loop__row {
    position: relative;
    white-space: nowrap;
    padding: 0;
    will-change: transform;
    display: flex;
    flex-direction: row;
    margin-bottom: 76px;
    @media (max-width: 1024px) {
        margin-bottom: 29px;
    }

    &:last-of-type {
        margin-bottom: 0;
    }

    h3 {
        display: inline-block;
        font-weight: 400;
        font-size: 123px;
        line-height: 120%;
        color: #EA5600;
        margin: 0;
        position: relative;
        margin-right: 4rem;
        @media (max-width: 1024px) {
            font-size: 109px;
        }

        @media (max-width: 768px) {
            font-size: 59px;
            line-height: 100%;
        }

        &:first-of-type {
            padding-left: 4rem;
        }
    }
}