.text-read {
    overflow: hidden;
}

.text-read__wrapper__content__row {
    font-weight: 400;
    font-size: 123px;
    line-height: 120%;
    color: #EA5600;
    margin: 0;
    text-align: left;
    padding: 0;
    @media (max-width: 1024px) {
        font-size: 90px;
    }
    @media (max-width: 768px) {
        line-height: 64px;
        font-size: 55px;
        padding-bottom: 14px;
    }

    &:last-of-type {
        @media (max-width: 768px) {
            padding-bottom: 0;
        }
    }

    &.right {
        text-align: right;
    }
}