.text-reveal__wrapper__text {
    font-style: normal;
    font-weight: 600;
    font-size: 76px;
    line-height: 120%;
    color: #EA5600;

    @media (max-width: 1400px) {
        line-height: 80%;
    }
    @media (max-width: 1024px) {
        line-height: 60%;
    }
    @media (max-width: 768px) {
        line-height: 30%;
    }


    & > * {
        -webkit-backface-visibility: hidden;
        -webkit-perspective: 1000;
        -webkit-transform: translate3d(0, 0, 0);
        display: inline-block;
    }

    h2 {
        margin: 0 0 20px;
    }

    p {
        margin: 0;
        display: inline-block;
        font-weight: 600;
        font-size: 76px;
        line-height: 120%;
        color: #EA5600;
        @media (max-width: 1024px) {
            font-size: 67px;
        }
        @media (max-width: 768px) {
            font-size: 37px;
        }
    }

    img {
        display: block;
        width: 565px;
        height: 565px;
        border-radius: 0px 0px 40px 40px;
        padding-top: 16px;
        object-fit: cover;

        &.alignleft {
            margin-right: 40px;
            margin-left: 327px;
            float: left;
            @media (max-width: 1440px) {
                margin-left: 150px;
                width: 400px;
                height: 400px;
            }
            @media (max-width: 1024px) {
                margin-left: 0;
                width: 300px;
                height: 300px;
            }
            @media (max-width: 650px) {
                margin-right: 0;
                width: 100%;
                height: auto;
                float: none;
                margin-bottom: 24px;
            }
        }

        &.alignright {
            margin-left: 40px;
            margin-right: 327px;
            float: right;
            @media (max-width: 1440px) {
                margin-right: 150px;
                width: 400px;
                height: 400px;
            }
            @media (max-width: 1024px) {
                margin-right: 0;
                width: 300px;
                height: 300px;
            }
            @media (max-width: 650px) {
                margin-left: 0;
                width: 100%;
                height: auto;
                float: none;
                margin-bottom: 24px;
            }
        }
    }

}

.reveal_span {
    opacity: .15;
    font-style: normal;
    font-weight: 600;
    font-size: 76px;
    line-height: 120%;
    color: #EA5600;
    transition: .3s linear;
    @media (max-width: 1400px) {
        font-size: 50px;
    }
    @media (max-width: 768px) {
        font-size: 37px;
    }
}

.text-reveal__wrapper__text__inner {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-column-gap: 40px;
    font-style: normal;
    font-weight: 600;
    font-size: 76px;
    line-height: 120%;
    color: #EA5600;

    @media (max-width: 1400px) {
        line-height: 80%;
    }
    @media (max-width: 1024px) {
        display: block;
        line-height: 60%;
    }
    @media (max-width: 768px) {
        line-height: 30%;
    }

    img {
        display: block;
        width: 565px;
        height: 565px;
        border-radius: 0px 0px 40px 40px;
        padding-top: 16px;
        object-fit: cover;
        margin-left: auto;
        @media (max-width: 1440px) {
            width: 400px;
            height: 400px;
        }
        @media (max-width: 1024px) {
            width: 100%;
            height: auto;
            padding-top: 16px;
            padding-bottom: 24px;
        }
    }
}

.text-reveal__wrapper__text__inner__right {
    font-style: normal;
    font-weight: 600;
    font-size: 76px;
    line-height: 120%;
    color: #EA5600;

    @media (max-width: 1400px) {
        line-height: 80%;
    }
    @media (max-width: 1024px) {
        line-height: 60%;
    }
    @media (max-width: 768px) {
        line-height: 30%;
    }
}