section.timeline {
    background: #2A5650;
    overflow: hidden;
    width: 100%;
    border-radius: 0;

    &.bg_color_radio {
        background: var(--bg-color-radio);
    }

    .container-fluid-min {
        @media (max-width: 768px) {
            padding: 0 24px;
        }
    }
}

.timeline-slider {
    padding-left: 65px;
    @media (max-width: 1600px) {
        padding-left: 0;
    }

    .swiper-slide {
        height: auto;
        width: auto;
        @media (max-width: 1400px) {
            max-width: 80%;
        }
        @media (max-width: 768px) {
            max-width: initial;
        }
    }
}


.timeline__wrapper__head {
    width: 100%;
    border-bottom: 1px solid #FFFFFF;
    margin-bottom: 60px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    @media (max-width: 768px) {
        margin-bottom: 46px;
        gap: 15px;
    }

    .swiper_nav {
        display: flex;
        align-items: center;
        gap: 52px;
        padding-bottom: 17px;
        margin-right: 3px;
        @media (max-width: 768px) {
            gap: 25px;
            padding-bottom: 0;
        }

        svg {
            @media (max-width: 768px) {
                max-width: 44.5px;
            }
        }

        button {
            background: 0 0;
            border: 0;
            outline: none;
            padding: 0;
            margin: 0;
            line-height: 0;
        }
    }

    h2 {
        color: #FFFFFF;
        line-height: 120%;
        padding-bottom: 0;
        @media (max-width: 768px) {
            font-weight: 600;
            font-size: 29px;
            line-height: 130%;
            letter-spacing: 0.04em;
            padding-bottom: 9px;
        }
    }
}

.timeline-slider__single {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    max-width: 1200px;
    background: rgba(0, 0, 0, 0.24);
    border-radius: 0px 0px 24px 24px;
    width: 100%;
    overflow: hidden;
    height: 100%;
    @media (max-width: 768px) {
        grid-template-columns: initial;
        width: 372px;
        border-radius: 0px 0px 13.3375px 13.3375px;
    }
    @media (max-width: 420px) {
        width: 300px;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
        @media (max-width: 768px) {
            max-height: 170px;
        }
    }
}

.timeline-slider__single__content {
    padding: 24px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 40px;
    @media (max-width: 768px) {
        padding: 13.3px 22.2px;
        gap: 30px;
    }

    h1, h2, h3, h4, h5, h6 {
        color: #FFFFFF;
        font-weight: 600;
        margin: 0 0 8px;
    }

    h2 {
        @media (max-width: 768px) {
            font-weight: 500;
            font-size: 51.1271px;
            line-height: 53px;
            margin: 0;
        }
    }

    p {
        color: #FFFFFF;
    }
}

.timeline__pagina {
    margin-top: 80px;
    display: flex;
    align-items: center;
    transition: transform .6s cubic-bezier(.25, .46, .45, .94);
    margin-bottom: 30px;
    @media (max-width: 768px) {
        margin-top: 30px;
        margin-bottom: 10px;
    }
}

.timeline__pagina__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
    position: relative;
    top: 7px;
    width: 15px;
    margin: 0 12px;
    @media (max-width: 768px) {
        top: 4px;
        margin: 0 1px;
        gap: 10px;
    }
}

.timeline__pagina__item {
    width: auto !important;
    height: auto !important;
    background: 0 0 !important;
    border: 0 !important;
    outline: none !important;
    position: relative !important;
    display: flex !important;
    align-items: flex-end !important;
    flex: 1 !important;
    opacity: 1 !important;
    margin: 0 !important;

    &.swiper-pagination-bullet-active {
        .timeline__pagina__bullet {
            transform: scale(1);
        }

        .timeline__pagina__line {
            &:after {
                width: 100%;
            }
        }

        .timeline__pagina__year {
            opacity: 1;
        }

        .timeline__pagina__bullet {
            opacity: 1;
        }
    }

    &:first-of-type {
        flex: 0 !important;

        .timeline__pagina__year {
            opacity: 1;
        }

        .timeline__pagina__bullet {
            opacity: 1;
        }

        .timeline__pagina__line {
            display: none;

            &:before {
                display: none;
            }

            &:after {
                display: none;
            }
        }
    }
}

.timeline__pagina__year {
    font-weight: 400;
    font-size: 29px;
    line-height: 150%;
    color: #FFFFFF;
    opacity: .3;
    transition: .6s cubic-bezier(.25, .46, .45, .94);
    @media (max-width: 1024px) {
        font-size: 23px;
    }
    @media (max-width: 768px) {
        font-size: 15px;
        line-height: 22px;
    }
}

.timeline-slider__single__content__text {
    @media (max-width: 768px) {
        max-width: 288px;
    }
    color: #fff;

    ul, ol {
        padding: 20px 0 20px 20px;
        margin: 0;
    }

    ol {

        & ~ ul {
            padding: 0 0 20px 20px;
        }
    }

    ul {
        list-style-type: circle;

        & ~ ol {
            padding: 0 0 20px 20px;
        }
    }

    a {
        color: #fff;
        text-decoration: underline;
    }

    h4 {
        letter-spacing: 0.04em;
        font-weight: 600;
        @media (max-width: 768px) {
            font-weight: 600;
            font-size: 13.3375px;
            line-height: 18px;
            color: #FFFFFF;
            margin: 0 0 4px;
        }
    }

    p {
        font-weight: 400;
        line-height: 150%;
        @media (max-width: 768px) {
            font-weight: 400;
            font-size: 11.1146px;
            line-height: 18px;
        }
    }
}


.timeline__pagina__bullet {
    display: block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #fff;
    transform: scale(.625);
    transition: transform .6s cubic-bezier(.25, .46, .45, .94);
    opacity: .3;
    @media (max-width: 768px) {
        width: 8.89px;
        height: 8.89px;
    }
}

.timeline__pagina__line {
    position: relative;
    width: 100%;
    min-width: 250px;
    height: 1px;
    @media (max-width: 1024px) {
        min-width: 200px;
    }
    @media (max-width: 1024px) {
        min-width: 139px;
    }

    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        background-color: #fff;
        width: 100%;
        opacity: .3;
    }

    &:after {
        content: "";
        transition: width .6s cubic-bezier(.25, .46, .45, .94);
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        background-color: #fff;
        width: 0;
    }
}

.slide_2 .timeline__pagina__item:nth-child(-n+2) {
    .timeline__pagina__line:after {
        width: 100%;
    }

    .timeline__pagina__year {
        opacity: 1;
    }

    .timeline__pagina__bullet {
        opacity: 1;
    }
}

.slide_3 .timeline__pagina__item:nth-child(-n+3) {
    .timeline__pagina__line:after {
        width: 100%;
    }

    .timeline__pagina__year {
        opacity: 1;
    }

    .timeline__pagina__bullet {
        opacity: 1;
    }
}

.slide_4 .timeline__pagina__item:nth-child(-n+4) {
    .timeline__pagina__line:after {
        width: 100%;
    }

    .timeline__pagina__year {
        opacity: 1;
    }

    .timeline__pagina__bullet {
        opacity: 1;
    }
}

.slide_5 .timeline__pagina__item:nth-child(-n+5) {
    .timeline__pagina__line:after {
        width: 100%;
    }

    .timeline__pagina__year {
        opacity: 1;
    }

    .timeline__pagina__bullet {
        opacity: 1;
    }
}

.slide_6 .timeline__pagina__item:nth-child(-n+6) {
    .timeline__pagina__line:after {
        width: 100%;
    }

    .timeline__pagina__year {
        opacity: 1;
    }

    .timeline__pagina__bullet {
        opacity: 1;
    }
}

.slide_7 .timeline__pagina__item:nth-child(-n+7) {
    .timeline__pagina__line:after {
        width: 100%;
    }

    .timeline__pagina__year {
        opacity: 1;
    }

    .timeline__pagina__bullet {
        opacity: 1;
    }
}

.slide_8 .timeline__pagina__item:nth-child(-n+8) {
    .timeline__pagina__line:after {
        width: 100%;
    }

    .timeline__pagina__year {
        opacity: 1;
    }

    .timeline__pagina__bullet {
        opacity: 1;
    }
}

.slide_9 .timeline__pagina__item:nth-child(-n+9) {
    .timeline__pagina__line:after {
        width: 100%;
    }

    .timeline__pagina__year {
        opacity: 1;
    }

    .timeline__pagina__bullet {
        opacity: 1;
    }
}