.v-slider {
    position: relative;
    width: 100%;
    @media (max-width: 1440px) {
        margin: 0 !important;
        padding: 0 !important;
    }
    @media (max-width: 1024px) {
        margin: var(--margin-mob) !important;
        padding: var(--padding-mob) !important;
    }

    &.desktop {
        @media (max-width: 1024px) {
            display: none;
        }
    }

    &.mobile {
        @media (min-width: 1025px) {
            display: none;
        }
    }
}

.v-slider__wrapper {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-column-gap: 40px;
    height: 100vh;

    &.desktop {
        @media (max-width: 1024px) {
            display: none;
        }
    }

    &.mobile {
        display: initial;
        @media (min-width: 1025px) {
            display: none;
        }
    }

    &.reverse {
        .v-slider__wrapper__images {
            grid-column: 2;
            grid-row: 1;
        }

        .v-slider__wrapper__content {
            grid-column: 1;
            grid-row: 1;
        }
    }
}

.v-slider__content__list__inner {
    h3 {
        margin: 0 0 8px;
        @media (max-width: 1024px) {

        }
        @media (max-width: 768px) {

        }
    }

    ul, ol {
        padding: 20px 0 20px 20px;
        margin: 0;
    }

    ol {

        & ~ ul {
            padding: 0 0 20px 20px;
        }
    }

    ul {
        list-style-type: circle;

        & ~ ol {
            padding: 0 0 20px 20px;
        }
    }


    a {
        text-decoration: underline;
    }

    p {
        font-weight: 400;
        font-size: 18px;
        line-height: 150%;
        color: #1A1A1A;
        margin: 0;
        @media (max-width: 1024px) {
            font-size: 16px;
        }
        @media (max-width: 768px) {
            font-size: 14px;
        }
    }
}

.v-slider__content__list__inner__link {
    @include btn();
    margin-top: 48px;
}

.v-slider__content__list__single {
    min-height: 500px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    max-width: 582px;
    margin: 0 auto;
    justify-content: center;
    @media (max-width: 1024px) {
        justify-content: flex-start;
        max-width: 100%;
        margin: initial;
        padding: 8px 16px 0 16px;
        min-height: initial;
    }

}

.v-slider__content__list {
    height: 50%;
    @media (max-width: 1024px) {
        display: flex;
        flex-direction: column;
        row-gap: 85px;
    }
}

.v-slider__wrapper__images {
    position: relative;
    height: 100%;
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    overflow: hidden;
}

.v-slider__wrapper__content {
    top: 0;
    left: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

.v-slider__images__list {
    position: relative;
    height: 100%;
    width: 100%;

    & > div {
        &:first-of-type {
            transform: none !important;
        }
    }
}

.v-slider__images__list__single {
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    bottom: 0;
    @media (max-width: 1024px) {
        position: initial;
        padding-bottom: 16px;
    }

    &:nth-of-type(2) {
        bottom: 50px;
    }

    &:nth-of-type(3) {
        bottom: 100px;
    }

    &:nth-of-type(4) {
        bottom: 150px;
    }

    &:nth-of-type(5) {
        bottom: 200px;
    }

    &:nth-of-type(6) {
        bottom: 250px;
    }

    &.scrolled-bottom {
        transform: translateY(0) !important;
    }

    &.scrolled {
        //transform: translateY(-100%) !important;
    }

    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        display: block;
        border-radius: 0px 0px 40px 40px;
        -webkit-backface-visibility: hidden;
        -webkit-perspective: 1000;
        -webkit-transform: translate3d(0, 0, 0);
        @media (max-width: 768px) {
            border-radius: 0px 0px 32px 32px;
        }
    }
}

.v-slider__images__wrap {
    height: 100%;
    width: 100%;
    position: absolute;
    max-height: 100%;
    z-index: 2;
    top: 50%;
    transform: translateY(-50%);
    max-height: 892px;
    overflow: hidden;
    @media (max-width: 1440px) {
        max-height: 600px;
    }
}