.v-slider2 {
  position: relative;
  width: 100%;
  @media (max-width: 1440px) {
    margin: 0 !important;
    padding: 0 !important;
  }
  @media (max-width: 1024px) {
    margin: var(--margin-mob) !important;
    padding: var(--padding-mob) !important;
  }
}

div:has(.v-slider2__outer-wrapper) {
  z-index: 100!important;
}

.v-slider2__outer-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.v-slider2__label {
  display: inline-block;
  position: absolute;
  top: 80px;
  left: 0px;
  transform: rotate(-90deg);
  z-index: 10;

  @media (max-width: 1024px) {
    display: none;
  }
}

.v-slider2__wrapper {
  position: relative;
  z-index: 1;
  overflow: hidden;
  transition: background-color 1s;

  & > div:not(:first-child) .v-slider2__image__wrapper {
    transform: translateY(-100%);

    @media (max-width: 1024px) {
      transform: translateY(0);
    }
  }

  & > div:last-child .v-slider2__image__wrapper {
    position: relative;
  }
}

.v-slider2__slide {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
  position: relative;

  @media (min-width: 1024px) {
    background-color: transparent!important;
  }

  @media (max-width: 1024px) {
    display: flex;
    flex-direction: column-reverse;
    height: fit-content;
  }
}

.v-slider2__slide__content {
  max-width: 820px;
  margin: 0 auto;
  padding: 0 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;

  @media (max-width: 1024px) {
    padding: 40px 24px 64px;
    height: fit-content;
  }
}

.v-slider2__slide__content__transparent {
  @media (min-width: 1024px) {
    background-color: transparent!important;
  }
}

.v2-slider__content__inner__link {
  @include btn();
  margin: 48px auto 0;
}

.v-slider2__image__wrapper {
  height: 100%;
  position: relative;

  @media (max-width: 1024px) {
    height: 430px;
  }

  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;

    @media (max-width: 1024px) {
      border-radius: 0 0 32px 32px;
    }
  }
}

.v-slider2__image__wrapper-top {
  z-index: 10 !important;
}

.v-slider2__image__wrapper-bottom {
  z-index: 5 !important;
}