.values__wrapper {
    width: 100%;
}

.values__wrapper__loop {
    max-width: 1472px;
    margin-left: auto;
    margin-right: 24px;
    @media (max-width: 1660px) {
        padding-left: 80px;
    }
    @media (max-width: 1200px) {
        padding-left: 0;
        margin-right: 0;
    }
}

.values__wrapper__loop__single {
    display: grid;
    grid-template-columns: minmax(300px, 564px) minmax(400px, auto);
    grid-column-gap: 40px;
    padding-bottom: 80px;
    border-bottom: 1px solid #1A1A1A;
    margin-bottom: 80px;
    @media (max-width: 1200px) {
        grid-template-columns: 1fr 1fr;
    }
    @media (max-width: 900px) {
        grid-template-columns: 1fr;
        grid-row-gap: 24px;
        margin-bottom: 40px;
        padding-bottom: 40px;
    }

    &:last-of-type {
        margin-bottom: 0;
    }
}

.values__wrapper__loop__single__descr {
    p {
        line-height: 150%;
    }

    a {
        text-decoration: underline;
    }
}

.values__wrapper__label {
    span {
        position: absolute;
        top: 0;
        left: 0;
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        text-align: right;
        color: #1A1A1A;
        transform: translateX(-100%) rotate(-90deg);
        transform-origin: 100% 0%;
        @media (max-width: 1200px) {
            padding-left: 0;
            margin-bottom: 40px;
            text-align: left;
            display: block;
            transform: none;
            position: initial;
        }
    }
}