.site-header {
    &.header_color_radio {
        ul {
            li {
                &:before {
                    background: var(--header-color-radio);
                }

                a {
                    color: var(--header-color-radio);
                }
            }
        }

        .site-header__wrapper__logo {
            svg {
                fill: var(--header-color-radio);

                path {
                    fill: var(--header-color-radio);
                }
            }
        }

        .site-header__wrapper__link__inner {
            &:before {
                background: var(--header-color-radio);
            }

            a {
                color: var(--header-color-radio);
            }
        }

        .site-header__wrapper {
            &:after {
                background: var(--header-color-radio);
                width: calc(100% - 48px);
                @media (max-width: 1024px) {
                    width: 100%;
                }
            }
        }

        .site-header__mobile__burger {
            background: var(--header-color-radio);

            &:after, &:before {
                background: var(--header-color-radio);
            }
        }
    }
}

section {

    &.tab_color_radio {
        a.concept__wrapper__tab:not(.changable) {
            color: var(--tab-color-radio);

            svg path {
                fill: var(--tab-color-radio);
            }
        }
    }

    &.bg_above_color_radio {
        background: transparent;

        .hero-module__layer-above__image {
            background: var(--bg-above-color-radio) !important;
        }
    }

    &.txt_above_color_radio {
        .hero-module__layer-above__content {
            h1, h2, h3, h4, h5, h6, p, span, strong {
                color: var(--txt-above-color-radio);
            }
        }
    }

    &.txt_under_color_radio {
        .hero-module__layer-under__inner {
            h1, h2, h3, h4, h5, h6, p, span, strong {
                color: var(--txt-under-color-radio);
            }
        }
    }

    &.bg_under_color_radio {
        .hero-module__layer-under__content {
            background: var(--bg-under-color-radio) !important;
        }
    }

    &.title_color_radio {
        h1, h2, h3, h4, h5, h6 {
            color: var(--title-color-radio);
        }
    }

    &.link_color_radio {
        .referencer-item {
            a {
                color: var(--link-color-radio) !important;

                svg {
                    path {
                        fill: var(--link-color-radio);
                    }
                }
            }
        }

        .head__wrapper__sub-pages__single {
            &:before {
                background: var(--line-color-radio);
            }
        }

        a {
            color: var(--link-color-radio);
        }
    }

    &.svg_color_radio {
        .single-text__wrapper__social__loop {
            svg {
                path {
                    fill: var(--svg-color-radio);
                }
            }
        }
    }

    &.hover_color_radio {
        .news-posts__wrapper__content__single {
            &:hover {
                background: var(--hover-color-radio);
            }
        }
    }

    &.text_color_radio {
        p, span, a:not(.changable), p strong, div, ol, ul, li {
            color: var(--text-color-radio);
        }
    }

    &.caption_color_radio {
        .single-images__wrapper__caption {
            color: var(--caption-color-radio);
        }

        .single-video__wrapper__caption {
            color: var(--caption-color-radio);
        }

        figure {
            figcaption {
                color: var(--caption-color-radio);
            }
        }
    }

    &.btn_color_radio {
        .concept-slider__prev, .concept-slider__next {
            background: var(--btn-color-radio) !important;
        }

        .swiper_nav {
            button:not(.concept-slider__next):not(.concept-slider__prev) {
                svg {
                    path {
                        fill: var(--btn-color-radio);
                    }
                }
            }
        }

        a.changable {
            color: var(--btn-color-radio);
            border: 2px solid var(--btn-color-radio);

            &:after {
                background: var(--btn-color-radio);
            }

            & ~ .mini-loader {
                & > div {
                    background: var(--btn-color-radio);
                }
            }
        }
    }

    &.bg_color_radio {
        background: var(--bg-color-radio);
        position: relative;

        &:before {
            content: '';
            position: absolute;
            top: -39px;
            background: var(--bg-color-radio);
            width: 100%;
            height: 40px;
            z-index: -1;
            left: 0;
        }
    }
}

footer.site-footer {
    &.bg_color_radio {
        background: var(--bg-color-radio);

        & > div {
            position: relative;

            &:before {
                content: '';
                position: absolute;
                top: -40px;
                background: var(--bg-color-radio);
                width: 100%;
                height: 40px;
                z-index: -1;
                left: 0;
            }
        }
    }

    &.text_color_radio {
        p, span, h1, h2, h3, h4, h5, h6, a, div {
            color: var(--text-color-radio);
        }
    }

    &.svg_color_radio {
        a {
            svg {
                path {
                    fill: var(--svg-color-radio);
                }
            }
        }
    }
}

.site-header {
    &.text_color_radio {
        .site-header__mobile__overlay {
            ul {
                li {
                    a {
                        color: var(--text-color-radio);
                    }
                }
            }

            .site-header__mobile__menu__socials {
                h3 {
                    color: var(--text-color-radio);
                }
            }
        }
    }

    &.bg_color_radio {
        .site-header__mobile__overlay {
            background: var(--bg-color-radio);
        }
    }

    &.svg_color_radio {
        .site-header__mobile__menu__socials {
            a {
                svg {
                    path {
                        fill: var(--svg-color-radio);
                    }
                }
            }
        }

    }
}

.site-header.open {

    &.bg_color_radio {
        .site-header__fixed.colored:before {
            background: var(--bg-color-radio);
        }
    }

    &.svg_color_radio {

        .site-header__wrapper:after {
            background: var(--svg-color-radio);
        }

        .site-header__mobile {
            .site-header__mobile__burger {
                background: var(--svg-color-radio);

                &:before, &:after {
                    background: var(--svg-color-radio);
                }
            }
        }

        .site-header__wrapper__logo {
            a {
                svg {
                    path {
                        fill: var(--svg-color-radio);
                    }
                }
            }
        }
    }
}