.site-footer {
    position: fixed;
    z-index: 40;
    width: 100vw;
    bottom: 0;
    z-index: -1;
    background: #2A5650;
    @media (max-width: 550px) {
        position: relative;
        z-index: 1;
        bottom: initial;
        top: initial !important;
    }
}

.site-footer__wrapper {
    width: 100%;
    padding: 164px 0 24px 0;
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-column-gap: 76px;
    grid-row-gap: 200px;
    @media (max-width: 1400px) {
        grid-column-gap: 40px;
    }
    @media (max-width: 1024px) {
        padding: 60px 8px 48px 8px;
        grid-row-gap: 80px;
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    @media (max-width: 550px) {
        grid-template-columns: 1fr;
    }
}

.site-footer__wrapper__col {
    &.hide_mob {
        @media (max-width: 768px) {
            display: none;
        }
    }
}

.site-footer__wrapper__col__row {
    margin-bottom: 16px;

    &.social {
        padding-top: 16px;
        @media (max-width: 768px) {
            padding-top: 64px;
        }
    }

    &:last-of-type {
        margin-bottom: 0;
    }

    h3 {
        font-weight: 600;
        font-size: 29px;
        line-height: 130%;
        letter-spacing: 0.04em;
        color: #FFFFFF;
        margin: 0 0 16px;
    }
}

.site-footer__row__descr {
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #FFFFFF;

    p {
        font-weight: 400;
        font-size: 18px;
        line-height: 150%;
        color: #FFFFFF;
        margin: 0;
    }

    a {
        color: #FFFFFF;
        text-decoration: underline;
    }
}

.site-footer__row__contact {
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #FFFFFF;
    display: block;
    width: fit-content;

    &:hover {
        text-decoration: underline;
    }
}

.site-footer__row__links {
    a {
        font-weight: 400;
        font-size: 18px;
        line-height: 150%;
        color: #FFFFFF;
        display: block;
        width: fit-content;

        &:hover {
            text-decoration: underline;
        }
    }
}

.site-footer__wrapper__bottom {
    grid-column: 1 / span 4;
    margin-left: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 28px;
    row-gap: 10px;
    @media (max-width: 1024px) {
        grid-column: 1 / span 2;
    }
    @media (max-width: 768px) {
        margin-left: initial;
        margin-top: -10px;
    }
    @media (max-width: 550px) {
        grid-column: initial;
    }
}

.site-footer__wrapper__bottom__text {
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0.08em;
    color: #F1F1F1;
    margin: 0;
    @media (max-width: 768px) {
        font-size: 12px;
        letter-spacing: 0.1em;
    }
}

.site-footer__wrapper__bottom__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0.08em;
    color: #F1F1F1;
    display: block;
    width: fit-content;

    @media (max-width: 768px) {
        font-size: 12px;
        letter-spacing: 0.1em;
        text-decoration: underline;
    }

}

.site-footer__row__social {
    display: flex;
    gap: 28px;
    row-gap: 10px;
    flex-wrap: wrap;
    margin-top: 16px;
    margin-left: 3px;

    a {
        display: block;

        svg {
            display: block;
        }
    }
}

.site-footer__row__social__link {
    display: block;
}

.site-footer__wrapper__logo {
    a {
        display: block;
    }

    img, svg {
        max-width: 180px;
        max-height: 40px;
        object-fit: contain;
        display: block;
    }
}