.site-header {
    width: 100%;
    z-index: 5;
    position: fixed;

    &.open {
        .site-header__mobile__overlay {
            height: 100vh;
        }

        .site-header__mobile {
            .site-header__mobile__burger {
                transform: translateX(-50px);
                background: transparent !important;
            }

            .site-header__mobile__burger::before {
                transform: rotate(45deg) translate(35px, -35px);
                background: #fff;
            }

            .site-header__mobile__burger::after {
                transform: rotate(-45deg) translate(35px, 35px);
                background: #fff;
            }
        }
    }
}

.site-header {
    &.header_color_radio {
        .site-header__fixed {
            &.colored {
                .site-header__wrapper {

                    &:after {
                        background: transparent;
                    }
                }
            }
        }

        &.open {
            .site-header__fixed {
                &.colored {
                    .site-header__wrapper {

                        &:after {
                            background: var(--svg-color-radio);
                        }
                    }
                }
            }
        }
    }
}

.site-header__fixed {
    position: inherit;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 30;
    transition: transform .6s cubic-bezier(.19, 1, .22, 1);

    &.hide {
        transform: translateY(-100%);

        &:before {
            transform: translateY(0);
        }
    }

    &.colored {
        &:before {
            transform: translateY(0);
        }

        .site-header__wrapper__logo {
            a {
                svg {
                    path {
                        fill: #1a1a1a;
                    }
                }
            }
        }

        .site-header__wrapper {

            &:after {
                background: transparent;
            }

            .site-header__wrapper__link__inner {
                &:before {
                    background: #1a1a1a;
                }

                a {
                    color: #1a1a1a;
                }
            }
        }

        .site-header__wrapper__menu {
            ul {
                li {
                    &:before {
                        background: #1a1a1a;
                    }

                    a {
                        color: #1a1a1a;
                    }
                }
            }
        }

        .site-header__mobile {
            .site-header__mobile__burger {
                background: #1a1a1a;

                &:before, &:after {
                    background: #1a1a1a;
                }
            }
        }
    }

    &:before {
        transition: transform 1.2s cubic-bezier(.19, 1, .22, 1);
        content: '';
        background: #f1f0eb;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transform: translateY(-100%);
    }

    .container-fluid {
        z-index: 21;
        position: relative;
    }
}


.site-header__wrapper {
    width: 100%;
    margin: 0 auto;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 24px;
    padding-right: 24px;
    z-index: 21;
    @media (max-width: 1024px) {
        padding-left: 0;
        padding-right: 0;
    }

    &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        width: calc(100% - 48px);
        transform: translateX(-50%);
        height: 1px;
        background: #1A1A1A;
        @media (max-width: 1024px) {
            width: 100%;
        }
    }
}

.site-header__wrapper__logo {
    padding: 24px 0;
    @media (max-width: 1024px) {
        padding: 24px 0;
    }

    a {
        display: block;

        img {
            max-width: 200px;
            max-height: 40px;
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: block;
            @media (max-width: 768px) {
                max-width: 138px;
                max-height: 32px;
            }
        }

        svg {
            display: block;
            max-width: 200px;
            max-height: 40px;
            width: 100%;
            height: 100%;
            object-fit: cover;
            @media (max-width: 768px) {
                max-width: 138px;
                max-height: 32px;
            }
        }
    }
}

.site-header__wrapper__mobile {
    display: none;
}

.site-header__wrapper__menu {
    @media (max-width: 1024px) {
        display: none;
    }

    ul {
        display: flex;
        align-items: center;

        li {
            padding: 32px 0;
            margin: 0 16px;
            position: relative;
            -webkit-backface-visibility: hidden;
            -webkit-perspective: 1000;
            -webkit-transform: translate3d(0, 0, 0);
            will-change: transform;

            &.current-menu-item {
                &:before {
                    transform: translate(-50%, -10%) scale(1);
                }
            }

            &:before {
                position: absolute;
                top: 0;
                left: 50%;
                content: "";
                height: 8px;
                width: 100%;
                background-color: #EA5600 !important;
                border-radius: 0 0 100px 100px;
                transform: translate(-50%, -100%) scale(1);
                transition: transform .5s cubic-bezier(.19, 1, .22, 1);
            }

            &:hover {
                &:before {
                    transform: translate(-50%, -10%) scale(1);
                }
            }

            a {
                font-weight: 500;
                font-size: 18px;
                line-height: 24px;
                color: #1A1A1A;
                display: block;
                -webkit-backface-visibility: hidden;
                -webkit-perspective: 1000;
                -webkit-transform: translate3d(0, 0, 0);
                will-change: transform;
            }
        }
    }
}

.site-header__wrapper__link {
    @media (max-width: 1024px) {
        display: none;
    }
}

.site-header__wrapper__link__inner {
    padding: 32px 0;
    position: relative;

    &.contact {
        &:before {
            transform: translate(-50%, -10%) scale(1);
        }
    }

    &:before {
        position: absolute;
        top: 0;
        left: 50%;
        content: "";
        height: 8px;
        width: 100%;
        background-color: #EA5600 !important;
        border-radius: 0 0 100px 100px;
        transform: translate(-50%, -100%) scale(1);
        transition: transform .5s cubic-bezier(.19, 1, .22, 1);
    }

    &:hover {
        &:before {
            transform: translate(-50%, -10%) scale(1);
        }
    }

    a {
        font-weight: 500;
        font-size: 18px;
        line-height: 24px;
        text-align: right;
        color: #1A1A1A;
    }
}
