.loader {
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2000;
    background-color: #2A5650;
    transition: transform .6s cubic-bezier(.075, .82, .165, 1);
    top: 0;
    transform: translateY(0);

    &.loaderAway {
        transform: translateY(-100%);
        pointer-events: none;

        & .loader__img-wrapper {
            opacity: 0;
        }
    }

    &__img-wrapper {
        width: 350px;
        height: 80px;
        overflow: hidden;
        opacity: 1;
        @media (max-width: 768px) {
            width: 270px;
            height: 60px;
        }

        & img {
            width: auto;
            height: 100%;
            object-fit: cover;
            object-position: left;
            max-width: 83px;
            animation: loaderAnimation 1.5s infinite;
        }
    }
}

@keyframes loaderAnimation {
    0% {
        max-width: 83px;
    }
    100% {
        max-width: 350px;
    }
}