.dot1 {
    width: 15px;
    height: 15px;
    animation: ScaleInOut 0.6s ease-in-out 0.2s infinite alternate;
}

.dot2 {
    width: 15px;
    height: 15px;
    animation: ScaleInOut 0.6s ease-in-out 0.4s infinite alternate;
}

.dot3 {
    width: 15px;
    height: 15px;
    animation: ScaleInOut 0.6s ease-in-out 0.6s infinite alternate;
}

@keyframes ScaleInOut {
    0% {
        transform: scale(0.8);
    }

    100% {
        transform: scale(1.5);
    }
}

.mini-loader {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    opacity: 0;
    pointer-events: none;
    transition: .2s linear;
    @media (max-width: 768px) {
        padding: 5px;
    }

    &.active {
        opacity: 1;
    }

    & > div {
        background: #ea5600;
        border-radius: 50%;
    }
}