.site-header__mobile {
    width: 32px;
    height: 32px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all .2s ease-in-out;
    @media (min-width: 1025px) {
        display: none;
    }
}

.site-header__mobile__burger {
    width: 32px;
    height: 3px;
    background: #1A1A1A;
    transition: all .2s ease-in-out;
}

.site-header__mobile__burger::before,
.site-header__mobile__burger::after {
    content: '';
    position: absolute;
    width: 32px;
    height: 3px;
    background: #1A1A1A;
    transition: all .2s ease-in-out;
}

.site-header__mobile__burger::before {
    transform: translateY(-10px);
}

.site-header__mobile__burger::after {
    transform: translateY(10px);
}

.site-header__mobile__overlay {
    position: absolute;
    top: 0;
    height: 0;
    width: 100%;
    left: 0;
    transition: height .9s cubic-bezier(.19, 1, .22, 1);
    z-index: 20;
    background: #2A5650;
    overflow: hidden;
}

.site-header__mobile__menu {
    padding-top: 80px;
    padding: 80px 24px 0 24px;
    height: 100%;
}

.site-header__mobile__menu__wrapper {
    padding-top: 168px;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 80px);

    ul {
        li {
            padding-bottom: 16px;

            a {
                font-weight: 600;
                font-size: 29px;
                line-height: 150%;
                color: #FFFFFF;
                display: block;
            }
        }
    }
}

.site-header__mobile__menu__link {
    font-style: normal;
    font-weight: 600;
    font-size: 29px;
    line-height: 150%;
    color: #FFFFFF;
    display: flex;
    gap: 22px;
    align-items: center;
}

.site-header__mobile__menu__socials {
    margin-top: 196px;
    margin-bottom: 80px;
    display: flex;
    align-items: center;
    gap: 28px;
    width: fit-content;
    row-gap: 10px;
    position: relative;

    @supports (-webkit-touch-callout: none) {
        margin-bottom: 130px;
    }

    &:before {
        content: '';
        top: -24px;
        width: 80%;
        left: 50%;
        transform: translateX(-50%);
        height: 1px;
        min-width: 231px;
        position: absolute;
        background: #fff;
    }

    h3 {
        font-weight: 600;
        font-size: 14px;
        line-height: 150%;
        color: #FFFFFF;
        margin: 0;
        margin-right: -10px;
    }

    a {
        display: block;

        svg {
            display: block;
        }
    }
}