
.editor-styles-wrapper {
    background: #f2f0e9;
}

.edit-post-visual-editor__post-title-wrapper .editor-post-title {
    background: #fff;
}

.wp-block {
    max-width: 1000px;
}

.editor-post-title .editor-post-title__input {
    padding: 19px;
}

.admin_circle {
    display: inline-flex;
    align-items: center;
    gap: 10px;
}

.admin_circle span {
    background-color: #102825;
    width: 15px;
    height: 15px;
    display: block;
    border: 1px solid rgba(0, 0, 0, .4);
}

.admin_circle p {
    margin: 0;
    min-width: 55px;
}