.error-404 {
    height: 80vh;
    display: flex;
    align-items: center;

    h1 {
        @media (max-width: 768px) {
            font-size: 45px;
            margin: 0 0 20px;
        }
    }
}

main.error-page {
    & ~ footer {
        position: relative;
        z-index: 1;
        bottom: initial;
        top: initial !important;
    }
}