.single-news {
    section.single-news__header {
        position: relative;

        .single-news__header__wrapper {
            margin: 0 auto;
            max-width: 988px;
            padding-top: 120px;
            padding-bottom: 40px;
            @media (max-width: 1400px) {
                padding-top: 40px;
            }
            @media (max-width: 768px) {
                padding-top: 40px;
            }
        }

        section.single-text {
            &:last-of-type {
                padding-bottom: 213px;
            }
        }

        a {
            position: absolute;
            display: block;
            font-weight: 600;
            font-size: 18px;
            line-height: 150%;
            color: #1A1A1A;
            left: 64px;
            top: 122px;
            display: flex;
            align-items: center;
            gap: 16px;

            &:hover {
                text-decoration: underline;
            }

            @media (max-width: 1400px) {
                position: initial;
                margin: 0 auto;
                left: initial;
                top: initial;
                max-width: 988px;
                padding: 48px 48px 0 48px;
            }
            @media (max-width: 1024px) {
                padding: 24px 24px 0 24px;
            }
            @media (max-width: 768px) {
                padding: 40px 24px 0 24px;
            }
        }

        h2 {
            font-weight: 500;
            font-size: 76px;
            line-height: 120%;
            color: #1A1A1A;
            margin: 0;
            @media (max-width: 1024px) {
                font-size: 50px;
            }
            @media (max-width: 768px) {
                font-size: 37px;
            }
        }
    }
}
